<div class="cookies js-cookies">
    <div class="cookies__text">
        <p>
            Мы используем файлы cookie для того, чтобы предоставить Вам больше возможностей при использовании сайта
        </p>
    </div>
    <div class="cookies__btns">
        <a href="#" class="cookies__details-link">
            Подробнее
        </a>
        <button class="cookies__close-btn js-cookies-close" type="button">
            Хорошо
        </button>
    </div>
</div>