<footer class="page-footer">
    <div class="container">
        <div class="page-footer__content">
            <div class="page-footer__content-inner">
                <div class="page-footer__top-row">
                    <nav class="page-footer__nav">
                        <ul>
                            <li>
                                <a href="#">
                                    О компании
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Сотрудники и карьера
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Фото и видео
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Производство
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Процесс
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Станки
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Материалы
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Продукция
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Нить
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Ткань
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Салфетки для уборки
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Насадки для швабры
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Пресс-центр
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            СМИ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Публикации
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Выставки
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="page-footer__info">
                        <div class="page-footer__selected-links">
                            <a href="#" class="page-footer__selected-link">
                                Партнёрам
                            </a>
                            <a href="#" class="page-footer__selected-link">
                                Контакты
                            </a>
                        </div>
                        <ul class="page-footer__social-list">
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    Instagram
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-facebook">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    facebook
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-vkontakte">
                                        <use xlink:href="#vkontakte"></use>
                                    </svg>
                                    ВКОНТАКТЕ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-footer__bottom-row">
                    <div class="page-footer__copyright">
                        <p>
                            © 2021 Все права защищены<br>
                            Юридическое наименование ООО «Бикотекс» является единственным и полноправным владельцем
                            бренда bicotex.
                        </p>
                    </div>
                    <a href="https://aquilamedia.ru/" class="page-footer__made-by" target="_blank">
                        Website by
                        <img src="img/aquila-logo.svg" alt="" class="page-footer__made-by-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>