<footer class="page-footer">
    <div class="container">
        <div class="page-footer__content">
            <div class="page-footer__col page-footer__col--center-vertically">
                <div class="page-footer__languages">
                    <a href="#" class="page-footer__languages-link active">
                        Ру
                    </a>
                    <a href="#" class="page-footer__languages-link">
                        en
                    </a>
                </div>
            </div>

            <div class="page-footer__col page-footer__col--col-3 page-footer__col--center-vertically">
                <a href="#" class="page-footer__logo">
                    <img src="img/logo.svg" alt="" class="page-footer__logo-image" width="155">
                </a>
            </div>
            <div class="page-footer__col page-footer__col--col-4">
                <a href="tel:+78002013253" class="page-footer__phone-link">8 800 201 32 53</a>
            </div>
            <div class="page-footer__col page-footer__col--col-4">
                <a href="mailto:info@bicotex.ru" class="page-footer__mail-link">info@bicotex.ru</a>
            </div>

            <div class="page-footer__col page-footer__col--col-3">
                <div class="page-footer__nav-group">
                    <div class="page-footer__nav-col">
                        <h3 class="page-footer__nav-section">
                            <a href="#">
                                О компании
                            </a>
                        </h3>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Сотрудники и карьера
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Фото и видео
                                </a>
                            </li>
                        </ul>

                        <ul class="page-footer__social-list">
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    instagram
                                </a>
                            </li>
                            <li class="page-footer__social-list-item">
                                <a href="#" class="page-footer__social-link">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                    facebook
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="page-footer__col page-footer__col--col-4">
                <div class="page-footer__nav-group">
                    <div class="page-footer__nav-col">
                        <h3 class="page-footer__nav-section">
                            <a href="#">
                                Производство
                            </a>
                        </h3>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Процесс
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Станки
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Материалы
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="page-footer__nav-col">
                        <h3 class="page-footer__nav-section">
                            <a href="#">
                                Продукция
                            </a>
                        </h3>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Нить
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Ткань
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Салфетки для уборки
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Насадки для швабры
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="page-footer__col page-footer__col--col-4">
                <div class="page-footer__nav-group">
                    <div class="page-footer__nav-col">
                        <h3 class="page-footer__nav-section">
                            <a href="#">
                                Пресс-центр
                            </a>
                        </h3>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    СМИ

                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Публикации

                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Выставки
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__nav-col">
                        <h3 class="page-footer__nav-section">
                            <a href="#">
                                Партнерам
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="page-footer__col page-footer__col--col-5">
                <div class="page-footer__copyright">
                    Юридическое наименование<br>
                    ООО "Микрофибра" является единственным и полноправным владельцем бренда bicotex.
                </div>
            </div>
            <div class="page-footer__col page-footer__col--rights page-footer__col--4">
                <div class="page-footer__all-rights-reserved">
                    © 2021 Все права защищены
                </div>
            </div>
         


          
        </div>
    </div>
</footer>