<header class="page-header {{#if whiteHeader}} page-header--white {{/if}}">

    <div class="page-header__search-panel">
        <div class="container container--wide">
            <div class="page-header__search-panel-grid">
                <div class="page-header__search-panel-inner">
                    <div class="page-header__search-panel-content">


                        <form action="/" method="get" class="page-header__search-panel-form">
                            <input type="search" class="page-header__search-panel-input" placeholder="Поиск по сайту">
                            <button class="page-header__search-panel-submit" type="submit">
                                <svg width="14" height="14" aria-hidden="true" class="icon-large-search">
                                    <use xlink:href="#large-search"></use>
                                </svg>
                            </button>
                            <button class="page-header__search-panel-close">
                                <svg width="14" height="14" aria-hidden="true" class="icon-close-search">
                                    <use xlink:href="#close-search"></use>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container--wide">
        <div class="page-header__row">
            <div class="page-header__burger-menu">
                <nav class="page-header__burger-menu-nav">

                    <ul>
                        <li>
                            <a href="#">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Производство
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Продукция
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Пресс-центр
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Партнерам
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="page-header__burger-menu-languages">
                    <a href="#" class="page-header__burger-menu-languages-link active">
                        Ру
                    </a>
                    <a href="#" class="page-header__burger-menu-languages-link">
                        en
                    </a>
                </div>

                <form action="/" method="get" class="page-header__burger-menu-search-form">
                    <input type="search" class="page-header__burger-menu-search-form-input" placeholder="Поиск по сайту">
                    <button class="page-header__burger-menu-search-form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-large-search">
                            <use xlink:href="#large-search"></use>
                        </svg>
                    </button>
                   
                </form>

                <div class="page-header__burger-menu-contact-links">
                    <a href="tel:8 800 201 32 53" class="page-header__burger-menu-phone-link">88002013253</a>
                    <a href="mailto:info@bicotex.ru" class="page-header__burger-menu-mail-link">info@bicotex.ru</a>
                </div>
                <a href="#callback-modal" class="page-header__burger-menu-contact-link js-open-modal">
                    Связаться
                </a>
            </div>
            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link active">
                    Ру
                </a>
                <a href="#" class="page-header__languages-link">
                    en
                </a>
            </div>
            <div class="page-header__main-content">
                <a href="#" class="page-header__logo-link">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image" width="162">

                    {{#if whiteHeader}}
                    <img src="img/logo-white.svg" alt="" class="page-header__logo-image" width="162">
                    {{/if}}
                </a>
                <div class="page-header__menu">
                    <nav class="page-header__nav">
                        <ul class="page-header__nav-list">
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    О компании
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Производство
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Продукция
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Пресс-центр
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Партнерам
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <a href="#" class="page-header__search-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                    <div class="page-header__contact-links">
                        <a href="tel:8 800 201 32 53" class="page-header__phone-link">88002013253</a>
                        <a href="mailto:info@bicotex.ru"
                            class="page-header__mail-link page-header__mail-link--underline">info@bicotex.ru</a>
                    </div>
                    <a href="#callback-modal" class="page-header__contact-link js-open-modal">
                        Связаться
                    </a>
                </div>

            </div>

            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>
    </div>
</header>