<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link active">
                    Ру
                </a>
                <a href="#" class="page-header__languages-link">
                    en
                </a>
            </div>
            <div class="page-header__main-content">
                <a href="#" class="page-header__logo-link">
                    <img src="img/logo.svg" alt="" class="page-header__logo-image" width="162">
                </a>
                <div class="page-header__menu">
                    <nav class="page-header__nav">
                        <ul class="page-header__nav-list">
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    О компании
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Производство
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Продукция
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Пресс-центр
                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Партнерам
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="page-header__search-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </a>
                    <div class="page-header__contact-links">
                        <a href="tel:8 800 201 32 53" class="page-header__phone-link">88002013253</a>
                        <a href="mailto:info@bicotex.ru" class="page-header__mail-link page-header__mail-link--underline">info@bicotex.ru</a>
                    </div>
                    <a href="#" class="page-header__contact-link">
                        Связаться
                    </a>
                </div>

            </div>

        </div>
    </div>
</header>