<div class="modal js-modal" id="catalog-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Экономим ваше время!
        </h3>
        <div class="modal__cards">
            <div class="modal__card">
                <h4 class="modal__card-title">
                    Приобрести товар в розницу
                </h4>
                <div class="modal__card-text">
                    <p>
                        Вы всегда можете быстро и удобно ознакомиться с актуальным каталогом наших товаров и приобрести
                        необходимое через интернет-магазины:
                    </p>
                </div>
                <div class="modal__card-links">
                    <a href="#" class="modal__card-link">
                        <img src="img/wildberries.svg" alt="" class="modal__card-icon">
                    </a>
                    <a href="#" class="modal__card-link">
                        <img src="img/ozon.svg" alt="" class="modal__card-icon">
                    </a>
                </div>
            </div>
            <div class="modal__card">
                <h4 class="modal__card-title">
                    Интересует опт
                </h4>
                <div class="modal__card-text">
                    <p>
                        Оптовым покупателям мы предлагаем ознакомиться с товарами в нашем каталоге и оформить заявку на
                        пробную партию
                    </p>
                </div>
                <a href="#" class="modal__catalog-link js-close-modal">
                    Перейти в каталог
                </a>
            </div>
        </div>
    </div>
</div>