<div class="modal js-modal" id="catalog-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Экономим ваше время!
        </h3>
        <div class="modal__cards">
            <div class="modal__card">
                <h4 class="modal__card-title">
                    Приобрести товар в розницу
                </h4>
                <div class="modal__card-text">
                    <p>
                        Вы всегда можете быстро и удобно ознакомиться с актуальным каталогом наших товаров и приобрести
                        необходимое через интернет-магазины:
                    </p>
                </div>
                <div class="modal__card-links">
                    <a href="#" class="modal__card-link">
                        <img src="img/wildberries.svg" alt="" class="modal__card-icon">
                    </a>
                    <a href="#" class="modal__card-link">
                        <img src="img/ozon.svg" alt="" class="modal__card-icon">
                    </a>
                </div>
            </div>
            <div class="modal__card">
                <h4 class="modal__card-title">
                    Интересует опт
                </h4>
                <div class="modal__card-text">
                    <p>
                        Оптовым покупателям мы предлагаем ознакомиться с товарами в нашем каталоге и оформить заявку на
                        пробную партию
                    </p>
                </div>
                <a href="#" class="modal__catalog-link js-close-modal">
                    Перейти в каталог
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Ответим на все ваши вопросы
        </h3>
        <div class="modal__heading-text">
            <p>
                Заполните форму и наш специалист свяжется с вами в течение 5 минут
            </p>
        </div>
        <form action="/" method="POST" class="modal__form" id="modal-form" data-need-validation="">
            <div class="modal__form-fields">
                <div class="modal__form-field">
                    <input type="text" name="your-name" class="modal__form-input" required="" placeholder="Ваше имя">
                </div>
                <div class="modal__form-field">
                    <input type="tel" name="your-phone" class="modal__form-input js-phone-input" required=""
                        data-parsley-phone="" placeholder="Телефон">
                </div>

            </div>
            <label class="modal__form-checkbox">

                <input type="checkbox" name="policy" class="modal__form-checkbox-input" checked="" required="">
                <span class="modal__form-checkbox-mark">

                </span>
                <span class="modal__form-checkbox-text">
                    Я соглашаюсь с <a href="#">политикой конфиденциальности</a> и согласен на обработку
                    персональных данных
                </span>
            </label>
            <button type="submit" class="modal__form-submit">
                Отправить
            </button>
        </form>
    </div>
</div>