@import '../mixins';

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;

    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    font-size: clamp(5px, 0.52vw, 25px);

    @include noHighlight();

    @include breakpoint(mobile) {
        font-size: 10px;
    }
}

.gallery-slider {
    margin: 5rem 0;
    position: relative;

    @include breakpoint(mobile) {
        margin: 2rem 0;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.gallery-slider__main {
    .swiper-container {
        border-radius: 1rem;
    }
}

.gallery-slider__main-card {
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    &::after {
        content: '';
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 68.04%, rgba(0, 0, 0, 0.3) 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}

.gallery-slider__main-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-slider__thumbs {
    position: absolute;
    z-index: 10;
    left: 2rem;
    bottom: 2rem;
    right: 2rem;
    top: auto;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        left: 0;
        bottom: 1rem;
        right: 0;
    }
}

.gallery-slider__thumbs-inner {
    width: 50%;
    flex-grow: 1;
}

.gallery-slider__arrow {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-block;
    position: relative;
    transition: color 0.2s;
    width: 7.2rem;
    height: 7.2rem;
    flex-shrink: 0;

    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }

    svg {
        flex-shrink: 0;
        fill: currentColor;
        transition: fill 0.2s;
        width: 100%;
        height: 100%;
        fill: white;
        display: block;
        transition: fill 0.2s;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        svg {
            fill: #ff772b;
        }
    }
}

.gallery-slider__thumbs-card {
    position: relative;
    border-radius: 0.2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    cursor: pointer;
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.2rem;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        border: 1px solid #ff772b;
        transition: opacity 0.2s;
        opacity: 0;
    }

    .swiper-slide-thumb-active & {
        &::after {
            opacity: 1;
        }
    }
}

.gallery-slider__thumbs-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
}
