{{#extend "layout"}}
{{#content "main"}}



<section class="photo-header">
    <div class="photo-header__bg">
        <img src="img/career.jpg" alt="" class="photo-header__bg-image">
    </div>
    <div class="container">
        <div class="photo-header__grid">
            <div class="photo-header__grid-inner">
                <div class="photo-header__content">


                    <div class="photo-header__breadcrumbs">
                        <a href="#">
                            Главная
                        </a> — <a href="#">
                            О компании
                        </a> — <a href="#">
                            Сотрудники и карьера
                        </a>
                    </div>
                    <h1 class="photo-header__main-heading">
                        Сотрудники и карьера
                    </h1>
                    <div class="photo-header__main-heading-text">
                        <p>
                            Пришло время первых!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="career">
    <div class="container">
        <div class="career__employees">
            <div class="career__grid">
                <div class="career__grid-inner">
                    <div class="career__employees-top-row">
                        <h2 class="career__employees-heading">
                            Bicotex – в первую очередь это команда
                        </h2>
                        <div class="career__employees-text">
                            <p>
                                За каждым станком стоит наш земляк. Особое внимание мы уделяем развитию компетенций
                                наших специалистов. Мы верим, что каждый может достичь совершенства!
                            </p>
                        </div>
                    </div>
                    <div class="career__employees-slider js-employees-slider">
                        <div class="career__employees-slider-arrows">
                            <button class="career__employees-slider-arrow career__employees-slider-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#products-slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="career__employees-slider-arrow career__employees-slider-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#products-slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="career__employees-slider-card">
                                        <div class="career__employees-slider-card-image-container">
                                            <img data-src="img/employees/1.jpg" alt=""
                                                class="career__employees-slider-card-image lazyload">
                                        </div>
                                        <h3 class="career__employees-slider-card-title">
                                            Выращиваем лучшие таланты
                                        </h3>
                                        <div class="career__employees-slider-card-info">
                                            <div class="career__employees-slider-card-name">
                                                Вдовин Андрей Александрович
                                            </div>
                                            <div class="career__employees-slider-card-role">
                                                Генеральный директор
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="career__employees-slider-card">
                                        <div class="career__employees-slider-card-image-container">
                                            <img data-src="img/employees/2.jpg" alt=""
                                                class="career__employees-slider-card-image lazyload">
                                        </div>
                                        <h3 class="career__employees-slider-card-title">
                                            Разделите с нами общий успех!
                                        </h3>
                                        <div class="career__employees-slider-card-text">
                                            <div class="career__employees-slider-card-text-hidden">
                                                Мы в самом начале длинного пути и будем рады партнёрам...
                                            </div>
                                            <div class="career__employees-slider-card-text-normal">
                                                Мы в самом начале длинного пути и будем рады партнёрам. Lorem ipsum
                                                dolor, sit amet consectetur adipisicing elit. Hic architecto maiores
                                                inventore quia modi suscipit dolor et blanditiis officiis natus.
                                            </div>
                                            <a href="#" class="career__employees-slider-card-text-show-more"
                                                data-text="Скрыть">
                                                Читать полностью
                                            </a>
                                        </div>
                                        <div class="career__employees-slider-card-info">
                                            <div class="career__employees-slider-card-name">
                                                Рубцова Юлия
                                            </div>
                                            <div class="career__employees-slider-card-role">
                                                Руководитель отдела закупок
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="career__employees-slider-card">
                                        <div class="career__employees-slider-card-image-container">
                                            <img data-src="img/employees/3.jpg" alt=""
                                                class="career__employees-slider-card-image lazyload">
                                        </div>
                                        <h3 class="career__employees-slider-card-title">
                                            Командная работа решает все!
                                        </h3>

                                        <div class="career__employees-slider-card-info">
                                            <div class="career__employees-slider-card-name">
                                                Гаязов Мансур
                                            </div>
                                            <div class="career__employees-slider-card-role">
                                                Директор производства
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="career__employees-slider-card">
                                        <div class="career__employees-slider-card-image-container">
                                            <img data-src="img/employees/4.jpg" alt=""
                                                class="career__employees-slider-card-image lazyload">
                                        </div>
                                        <h3 class="career__employees-slider-card-title">
                                            Выращиваем лучшие таланты
                                        </h3>

                                        <div class="career__employees-slider-card-info">
                                            <div class="career__employees-slider-card-name">
                                                Миндрюкова Вероника
                                            </div>
                                            <div class="career__employees-slider-card-role">
                                                Финансовый директор
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="career__work">
            <div class="career__grid">
                <div class="career__grid-inner">
                    <h2 class="career__work-heading">
                        Работа в Bicotex
                    </h2>
                    <ul class="career__work-list">
                        <li class="career__work-list-item">
                            <div class="career__work-card">
                                <div class="career__work-card-image-container">
                                    <img data-src="img/work/1.jpg" alt="" class="career__work-card-image lazyload">
                                </div>
                                <div class="career__work-card-content">
                                    <div class="career__work-card-content-inner">
                                        <h3 class="career__work-card-title">
                                            Единство
                                        </h3>
                                        <div class="career__work-card-text">
                                            <p>
                                                Мы как единый часовой механизм, где каждый сотрудник идет в одном
                                                направлении к общим целям и задачам. В нашем взаимодействии активно
                                                используется система вертикальной коммуникации. Это позволяет нам
                                                достигнуть больших результатов, а коллеги знают, что их труд важен для
                                                всего завода
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="career__work-list-item">
                            <div class="career__work-card">
                                <div class="career__work-card-image-container">
                                    <img data-src="img/work/2.jpg" alt="" class="career__work-card-image lazyload">
                                </div>
                                <div class="career__work-card-content">
                                    <div class="career__work-card-content-inner">
                                        <h3 class="career__work-card-title">
                                            Команда
                                        </h3>
                                        <div class="career__work-card-text">
                                            <p>
                                                Мы как единый часовой механизм, где каждый сотрудник идет в одном
                                                направлении к общим целям и задачам. В нашем взаимодействии активно
                                                используется система вертикальной коммуникации. Это позволяет нам
                                                достигнуть больших результатов, а коллеги знают, что их труд важен для
                                                всего завода
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="career__work-list-item">
                            <div class="career__work-card">
                                <div class="career__work-card-image-container">
                                    <img data-src="img/work/3.jpg" alt="" class="career__work-card-image lazyload">
                                </div>
                                <div class="career__work-card-content">
                                    <div class="career__work-card-content-inner">
                                        <h3 class="career__work-card-title">
                                            Развитие
                                        </h3>
                                        <div class="career__work-card-text">
                                            <p>
                                                Мы как единый часовой механизм, где каждый сотрудник идет в одном
                                                направлении к общим целям и задачам. В нашем взаимодействии активно
                                                используется система вертикальной коммуникации. Это позволяет нам
                                                достигнуть больших результатов, а коллеги знают, что их труд важен для
                                                всего завода
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="career__work-list-item">
                            <div class="career__work-card">
                                <div class="career__work-card-image-container">
                                    <img data-src="img/work/4.jpg" alt="" class="career__work-card-image lazyload">
                                </div>
                                <div class="career__work-card-content">
                                    <div class="career__work-card-content-inner">
                                        <h3 class="career__work-card-title">
                                            Социальная ответственность
                                        </h3>
                                        <div class="career__work-card-text">
                                            <p>
                                                Мы как единый часовой механизм, где каждый сотрудник идет в одном
                                                направлении к общим целям и задачам. В нашем взаимодействии активно
                                                используется система вертикальной коммуникации. Это позволяет нам
                                                достигнуть больших результатов, а коллеги знают, что их труд важен для
                                                всего завода
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="career__vacancies">
            <div class="career__grid">
                <div class="career__grid-inner">



                    <h2 class="career__vacancies-heading">
                        Вакансии
                    </h2>
                    <div class="career__vacancies-accordions">
                        <div class="career__vacancies-accordion js-accordion" data-close-other="">
                            <div class="career__vacancies-accordion-btn js-accordion-btn">
                                <h3 class="career__vacancies-accordion-btn-text">
                                    Специалист по учету ТМЦ
                                </h3>
                                <div class="career__vacancies-accordion-btn-salary">
                                    от 31 000 ₽
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="career__vacancies-accordion-content js-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__vacancies-info">
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                График работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Полная занятость, сменный график
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Требуемый опыт работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                1–3 года
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Город
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Нижнекамск, улица Первопроходцев, 7Б
                                            </div>
                                        </div>
                                    </div>

                                    <div class="career__vacancies-details">
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Обязанности
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Работа в 1С, проведение операций по мат балансу производства.
                                                    Внесение
                                                    корректировок в отчеты производства с последующей распечаткой
                                                    электронных
                                                    документов на бумажных носителях
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль данных, внесенных в отчет производства за смену с данными в
                                                    сменном
                                                    задании, перед проведением его в автоматизированной системе 1С.
                                                    Работа с
                                                    номенклатурой групп, спецификацией и др.
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль оформления первичных документов перед проведением их в
                                                    автоматизированной системе 1С "Комплексная автоматизация". Сдача
                                                    первичной
                                                    документации в бухгалтерию
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Списание МПЗ после проведения в 1С "Комплексная автоматизация"
                                                    документов по
                                                    списанию сырья и материалов на основании полученных от кладовщиков
                                                    ежесуточных служебных записок по фактическим остаткам сырья,
                                                    материалов и
                                                    готовой продукции, для выявления причин отклонений фактического
                                                    расходас
                                                    плановым, предоставление информации по отклонениям
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Условия
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Трудовой договор неопределенным сроком с испытанием 3 месяца
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    40-часовая рабочая неделя, 8 часовой рабочий день, с 8:00 до 17:00
                                                    часов,
                                                    выходные: суббота, воскресенье
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Рабочее место на производстве: завод находится в черте города
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Частичная компенсация затратна питание
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Требования
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Среднее образование, по специализации - Специалист по учету,
                                                    Бухгалтер
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт работы по специальности не менее 2 последних лет в производстве
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт освоения новых производств, ведения проектов развития
                                                    приветствуется
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="career__vacancies-accordion js-accordion" data-close-other="">
                            <div class="career__vacancies-accordion-btn js-accordion-btn">
                                <h3 class="career__vacancies-accordion-btn-text">
                                    Менеджер по подбору персонала (Рекрутер)
                                </h3>
                                <div class="career__vacancies-accordion-btn-salary">
                                    от 40 000 ₽
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="career__vacancies-accordion-content js-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__vacancies-info">
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                График работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Полная занятость, сменный график
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Требуемый опыт работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                1–3 года
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Город
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Нижнекамск, улица Первопроходцев, 7Б
                                            </div>
                                        </div>
                                    </div>

                                    <div class="career__vacancies-details">
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Обязанности
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Работа в 1С, проведение операций по мат балансу производства.
                                                    Внесение
                                                    корректировок в отчеты производства с последующей распечаткой
                                                    электронных
                                                    документов на бумажных носителях
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль данных, внесенных в отчет производства за смену с данными в
                                                    сменном
                                                    задании, перед проведением его в автоматизированной системе 1С.
                                                    Работа с
                                                    номенклатурой групп, спецификацией и др.
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль оформления первичных документов перед проведением их в
                                                    автоматизированной системе 1С "Комплексная автоматизация". Сдача
                                                    первичной
                                                    документации в бухгалтерию
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Списание МПЗ после проведения в 1С "Комплексная автоматизация"
                                                    документов по
                                                    списанию сырья и материалов на основании полученных от кладовщиков
                                                    ежесуточных служебных записок по фактическим остаткам сырья,
                                                    материалов и
                                                    готовой продукции, для выявления причин отклонений фактического
                                                    расходас
                                                    плановым, предоставление информации по отклонениям
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Условия
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Трудовой договор неопределенным сроком с испытанием 3 месяца
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    40-часовая рабочая неделя, 8 часовой рабочий день, с 8:00 до 17:00
                                                    часов,
                                                    выходные: суббота, воскресенье
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Рабочее место на производстве: завод находится в черте города
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Частичная компенсация затратна питание
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Требования
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Среднее образование, по специализации - Специалист по учету,
                                                    Бухгалтер
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт работы по специальности не менее 2 последних лет в производстве
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт освоения новых производств, ведения проектов развития
                                                    приветствуется
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="career__vacancies-accordion js-accordion" data-close-other="">
                            <div class="career__vacancies-accordion-btn js-accordion-btn">
                                <h3 class="career__vacancies-accordion-btn-text">
                                    Вязальщица/Вязальщик трикотажных изделий, полотна
                                </h3>
                                <div class="career__vacancies-accordion-btn-salary">
                                    от 35 000 ₽
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="career__vacancies-accordion-content js-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__vacancies-info">
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                График работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Полная занятость, сменный график
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Требуемый опыт работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                1–3 года
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Город
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Нижнекамск, улица Первопроходцев, 7Б
                                            </div>
                                        </div>
                                    </div>

                                    <div class="career__vacancies-details">
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Обязанности
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Работа в 1С, проведение операций по мат балансу производства.
                                                    Внесение
                                                    корректировок в отчеты производства с последующей распечаткой
                                                    электронных
                                                    документов на бумажных носителях
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль данных, внесенных в отчет производства за смену с данными в
                                                    сменном
                                                    задании, перед проведением его в автоматизированной системе 1С.
                                                    Работа с
                                                    номенклатурой групп, спецификацией и др.
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль оформления первичных документов перед проведением их в
                                                    автоматизированной системе 1С "Комплексная автоматизация". Сдача
                                                    первичной
                                                    документации в бухгалтерию
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Списание МПЗ после проведения в 1С "Комплексная автоматизация"
                                                    документов по
                                                    списанию сырья и материалов на основании полученных от кладовщиков
                                                    ежесуточных служебных записок по фактическим остаткам сырья,
                                                    материалов и
                                                    готовой продукции, для выявления причин отклонений фактического
                                                    расходас
                                                    плановым, предоставление информации по отклонениям
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Условия
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Трудовой договор неопределенным сроком с испытанием 3 месяца
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    40-часовая рабочая неделя, 8 часовой рабочий день, с 8:00 до 17:00
                                                    часов,
                                                    выходные: суббота, воскресенье
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Рабочее место на производстве: завод находится в черте города
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Частичная компенсация затратна питание
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Требования
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Среднее образование, по специализации - Специалист по учету,
                                                    Бухгалтер
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт работы по специальности не менее 2 последних лет в производстве
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт освоения новых производств, ведения проектов развития
                                                    приветствуется
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="career__vacancies-accordion js-accordion" data-close-other="">
                            <div class="career__vacancies-accordion-btn js-accordion-btn">
                                <h3 class="career__vacancies-accordion-btn-text">
                                    Грузчик-комплектовщик
                                </h3>
                                <div class="career__vacancies-accordion-btn-salary">
                                    от 32 000 ₽
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="career__vacancies-accordion-content js-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__vacancies-info">
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                График работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Полная занятость, сменный график
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Требуемый опыт работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                1–3 года
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Город
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Нижнекамск, улица Первопроходцев, 7Б
                                            </div>
                                        </div>
                                    </div>

                                    <div class="career__vacancies-details">
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Обязанности
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Работа в 1С, проведение операций по мат балансу производства.
                                                    Внесение
                                                    корректировок в отчеты производства с последующей распечаткой
                                                    электронных
                                                    документов на бумажных носителях
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль данных, внесенных в отчет производства за смену с данными в
                                                    сменном
                                                    задании, перед проведением его в автоматизированной системе 1С.
                                                    Работа с
                                                    номенклатурой групп, спецификацией и др.
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль оформления первичных документов перед проведением их в
                                                    автоматизированной системе 1С "Комплексная автоматизация". Сдача
                                                    первичной
                                                    документации в бухгалтерию
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Списание МПЗ после проведения в 1С "Комплексная автоматизация"
                                                    документов по
                                                    списанию сырья и материалов на основании полученных от кладовщиков
                                                    ежесуточных служебных записок по фактическим остаткам сырья,
                                                    материалов и
                                                    готовой продукции, для выявления причин отклонений фактического
                                                    расходас
                                                    плановым, предоставление информации по отклонениям
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Условия
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Трудовой договор неопределенным сроком с испытанием 3 месяца
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    40-часовая рабочая неделя, 8 часовой рабочий день, с 8:00 до 17:00
                                                    часов,
                                                    выходные: суббота, воскресенье
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Рабочее место на производстве: завод находится в черте города
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Частичная компенсация затратна питание
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Требования
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Среднее образование, по специализации - Специалист по учету,
                                                    Бухгалтер
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт работы по специальности не менее 2 последних лет в производстве
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт освоения новых производств, ведения проектов развития
                                                    приветствуется
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="career__vacancies-accordion js-accordion" data-close-other="">
                            <div class="career__vacancies-accordion-btn js-accordion-btn">
                                <h3 class="career__vacancies-accordion-btn-text">
                                    Кладовщик
                                </h3>
                                <div class="career__vacancies-accordion-btn-salary">
                                    от 35 000 ₽
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="career__vacancies-accordion-content js-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__vacancies-info">
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                График работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Полная занятость, сменный график
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Требуемый опыт работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                1–3 года
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Город
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Нижнекамск, улица Первопроходцев, 7Б
                                            </div>
                                        </div>
                                    </div>

                                    <div class="career__vacancies-details">
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Обязанности
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Работа в 1С, проведение операций по мат балансу производства.
                                                    Внесение
                                                    корректировок в отчеты производства с последующей распечаткой
                                                    электронных
                                                    документов на бумажных носителях
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль данных, внесенных в отчет производства за смену с данными в
                                                    сменном
                                                    задании, перед проведением его в автоматизированной системе 1С.
                                                    Работа с
                                                    номенклатурой групп, спецификацией и др.
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль оформления первичных документов перед проведением их в
                                                    автоматизированной системе 1С "Комплексная автоматизация". Сдача
                                                    первичной
                                                    документации в бухгалтерию
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Списание МПЗ после проведения в 1С "Комплексная автоматизация"
                                                    документов по
                                                    списанию сырья и материалов на основании полученных от кладовщиков
                                                    ежесуточных служебных записок по фактическим остаткам сырья,
                                                    материалов и
                                                    готовой продукции, для выявления причин отклонений фактического
                                                    расходас
                                                    плановым, предоставление информации по отклонениям
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Условия
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Трудовой договор неопределенным сроком с испытанием 3 месяца
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    40-часовая рабочая неделя, 8 часовой рабочий день, с 8:00 до 17:00
                                                    часов,
                                                    выходные: суббота, воскресенье
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Рабочее место на производстве: завод находится в черте города
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Частичная компенсация затратна питание
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Требования
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Среднее образование, по специализации - Специалист по учету,
                                                    Бухгалтер
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт работы по специальности не менее 2 последних лет в производстве
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт освоения новых производств, ведения проектов развития
                                                    приветствуется
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="career__vacancies-accordion js-accordion" data-close-other="">
                            <div class="career__vacancies-accordion-btn js-accordion-btn">
                                <h3 class="career__vacancies-accordion-btn-text">
                                    Наладчик технологического оборудования
                                </h3>
                                <div class="career__vacancies-accordion-btn-salary">
                                    от 60 000 ₽
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="career__vacancies-accordion-content js-accordion-content">
                                <div class="career__vacancies-accordion-content-inner">
                                    <div class="career__vacancies-info">
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                График работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Полная занятость, сменный график
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Требуемый опыт работы
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                1–3 года
                                            </div>
                                        </div>
                                        <div class="career__vacancies-info-item">
                                            <div class="career__vacancies-info-item-key">
                                                Город
                                            </div>
                                            <div class="career__vacancies-info-item-value">
                                                Нижнекамск, улица Первопроходцев, 7Б
                                            </div>
                                        </div>
                                    </div>

                                    <div class="career__vacancies-details">
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Обязанности
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Работа в 1С, проведение операций по мат балансу производства.
                                                    Внесение
                                                    корректировок в отчеты производства с последующей распечаткой
                                                    электронных
                                                    документов на бумажных носителях
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль данных, внесенных в отчет производства за смену с данными в
                                                    сменном
                                                    задании, перед проведением его в автоматизированной системе 1С.
                                                    Работа с
                                                    номенклатурой групп, спецификацией и др.
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Контроль оформления первичных документов перед проведением их в
                                                    автоматизированной системе 1С "Комплексная автоматизация". Сдача
                                                    первичной
                                                    документации в бухгалтерию
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Списание МПЗ после проведения в 1С "Комплексная автоматизация"
                                                    документов по
                                                    списанию сырья и материалов на основании полученных от кладовщиков
                                                    ежесуточных служебных записок по фактическим остаткам сырья,
                                                    материалов и
                                                    готовой продукции, для выявления причин отклонений фактического
                                                    расходас
                                                    плановым, предоставление информации по отклонениям
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Условия
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Трудовой договор неопределенным сроком с испытанием 3 месяца
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    40-часовая рабочая неделя, 8 часовой рабочий день, с 8:00 до 17:00
                                                    часов,
                                                    выходные: суббота, воскресенье
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Рабочее место на производстве: завод находится в черте города
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Частичная компенсация затратна питание
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="career__vacancies-details-block">
                                            <h4 class="career__vacancies-details-block-heading">
                                                Требования
                                            </h4>
                                            <ul class="career__vacancies-details-list">
                                                <li class="career__vacancies-details-list-item">
                                                    Среднее образование, по специализации - Специалист по учету,
                                                    Бухгалтер
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт работы по специальности не менее 2 последних лет в производстве
                                                </li>
                                                <li class="career__vacancies-details-list-item">
                                                    Опыт освоения новых производств, ведения проектов развития
                                                    приветствуется
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="career__first-step">
            <div class="career__first-step-bg">
                <img data-src="img/first-step-bg.jpg" alt="" class="career__first-step-bg-image lazyload">
            </div>
            <div class="career__grid">
                <div class="career__grid-inner">
                    <form action="/" method="POST" class="career__first-step-form" data-need-validation=""
                        id="career-form">
                        <h2 class="career__first-step-heading">
                            Сделайте первый шаг для работы в нашей команде
                        </h2>
                        <div class="career__first-step-heading-text">
                            Заполните форму
                        </div>
                        <div class="career__first-step-fields">
                            <div class="career__first-step-field">
                                <input type="text" name="name" class="career__first-step-input" placeholder="Ваше имя"
                                    required="">
                            </div>
                            <div class="career__first-step-field">
                                <input type="tel" name="phone" class="career__first-step-input js-phone-input"
                                    placeholder="Телефон" required="" data-parsley-phone="">
                            </div>
                            <div class="career__first-step-field">
                                <input type="email" name="email" class="career__first-step-input" placeholder="Почта"
                                    required="">
                            </div>
                            <div class="career__first-step-field">
                                <input type="text" name="comment" class="career__first-step-input"
                                    placeholder="Сообщение">
                            </div>
                        </div>
                        <div class="career__first-step-bottom-row">
                            <label class="career__first-step-file js-file-upload">
                                <input type="file" class="career__first-step-file-input">
                                <div class="career__first-step-file-icon">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                        <use xlink:href="#file"></use>
                                    </svg>
                                </div>
                                <div class="career__first-step-file-content">
                                    <div class="career__first-step-file-action">
                                        Прикреите ваш резюме (pdf, doc)
                                    </div>
                                    <div class="career__first-step-file-text js-file-upload-text">
                                        Выбрать файл
                                    </div>
                                </div>
                            </label>

                            <label class="career__first-step-checkbox">

                                <input type="checkbox" name="policy" class="career__first-step-checkbox-input"
                                    checked="" required="">
                                <span class="career__first-step-checkbox-mark">

                                </span>
                                <span class="career__first-step-checkbox-text">
                                    Я соглашаюсь с <a href="#">политикой конфиденциальности</a> и согласен на обработку
                                    персональных данных
                                </span>
                            </label>
                            <button class="career__first-step-submit" type="submit">
                                Отправить
                            </button>
                        </div>

                        <div class="career__form-success">
                            <div class="career__form-success-ok">
                                <svg width="14" height="14" aria-hidden="true" class="icon-success-checkmark">
                                    <use xlink:href="#success-checkmark"></use>
                                </svg>
                            </div>
                            <h4 class="career__form-success-heading">
                                Ваше резюме успешно отправлено!
                            </h4>
                            <div class="career__form-success-text">
                                <p>
                                    Наш кадровый отдел расмотрит ваше резюме в течении 3 дней
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}