{{#extend "layout"}}
{{#content "main"}}

<section class="catalog-header">
    <div class="catalog-header__bg">
        <img src="img/catalog-header.jpg" alt="" class="catalog-header__bg-image">
    </div>
    <div class="container">
        <div class="catalog-header__grid">
            <div class="catalog-header__grid-inner">
                <div class="catalog-header__breadcrumbs">
                    <a href="#" class="catalog-header__breadcrumbs-link">
                        Главная
                    </a>
                    —
                    <a href="#" class="catalog-header__breadcrumbs-link">
                        Каталог
                    </a>
                    —
                    <a href="#" class="catalog-header__breadcrumbs-link">
                        Готовые изделия
                    </a>
                </div>
                <h1 class="catalog-header__main-heading">
                    Каталог продукции из микрофибры
                </h1>
            </div>
        </div>
    </div>
</section>


<section class="catalog">
    <div class="container">
        <div class="catalog__top-categories">
            <a href="#" class="catalog__top-categories-card active">
                <img src="img/catalog-top-categories/1.png" alt="" class="catalog__top-categories-card-image">
                <h4 class="catalog__top-categories-card-title">
                    Готовые изделия
                    <svg width="14" height="14" aria-hidden="true" class="icon-thin-arrow-right">
                        <use xlink:href="#thin-arrow-right"></use>
                    </svg>
                </h4>
                <div class="catalog__top-categories-card-text">
                    <p>
                        Полностью автоматизированная линия пошива гарантирует максимальное качество готовых изделий
                    </p>
                </div>
            </a>
            <a href="#" class="catalog__top-categories-card">
                <img src="img/catalog-top-categories/2.png" alt="" class="catalog__top-categories-card-image">
                <h4 class="catalog__top-categories-card-title">
                    Нити
                    <svg width="14" height="14" aria-hidden="true" class="icon-thin-arrow-right">
                        <use xlink:href="#thin-arrow-right"></use>
                    </svg>
                </h4>
                <div class="catalog__top-categories-card-text">
                    <p>
                        Производим формование бикомпонентных (Bico) и полностью вытянутых (FDY) нитей по европейским
                        стандартам
                    </p>
                </div>
            </a>
            <a href="#" class="catalog__top-categories-card">
                <img src="img/catalog-top-categories/3.png" alt="" class="catalog__top-categories-card-image">
                <h4 class="catalog__top-categories-card-title">
                    Ткань
                    <svg width="14" height="14" aria-hidden="true" class="icon-thin-arrow-right">
                        <use xlink:href="#thin-arrow-right"></use>
                    </svg>
                </h4>
                <div class="catalog__top-categories-card-text">
                    <p>
                        Используем передовые технологии вязания, окрашивания и мягчения ткани для придания полотну
                        необходимых свойств
                    </p>
                </div>
            </a>
        </div>
        <div class="catalog__layout">
            <div class="catalog__sidebar">
                <div class="catalog__sidebar-inner">
                    <a href="#filters-modal" class="catalog__mobile-filters-link js-open-modal">
                        Фильтры
                        <svg width="14" height="14" aria-hidden="true" class="icon-filter">
                            <use xlink:href="#filter"></use>
                        </svg>
                    </a>
                    <div class="catalog__sidebar-filters-modal js-modal" id="filters-modal">


                        <form method="GET" action="/" class="catalog__sidebar-filters">
                            <button class="modal__close js-close-modal">
                                <svg width="14" height="14" aria-hidden="true" class="icon-modal-close">
                                    <use xlink:href="#modal-close"></use>
                                </svg>
                            </button>
                            <div class="catalog__sidebar-filters-group">
                                <h4 class="catalog__sidebar-filters-group-title">
                                    Категория продукции
                                </h4>
                                <div class="catalog__sidebar-filters-checkboxes">
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            Насадки для швабры
                                        </span>
                                    </label>
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input"
                                            checked="">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            Насадки для швабры
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="catalog__sidebar-filters-group">
                                <h4 class="catalog__sidebar-filters-group-title">
                                    Размеры
                                </h4>
                                <div class="catalog__sidebar-filters-checkboxes">
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            30х30 см
                                        </span>
                                    </label>
                                    <label class="catalog__sidebar-filters-checkbox disabled">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input"
                                            disabled="">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            35х35 см
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="catalog__sidebar-filters-group">
                                <h4 class="catalog__sidebar-filters-group-title">
                                    Плотность
                                </h4>
                                <div class="catalog__sidebar-filters-checkboxes">
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            220 гр/м2
                                        </span>
                                    </label>
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            250 гр/м2
                                        </span>
                                    </label>
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            280 гр/м2
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="catalog__sidebar-filters-group">
                                <h4 class="catalog__sidebar-filters-group-title">
                                    Марка производителя
                                </h4>
                                <div class="catalog__sidebar-filters-checkboxes">
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            Lady fly
                                        </span>
                                    </label>
                                    <label class="catalog__sidebar-filters-checkbox">
                                        <input type="checkbox" class="catalog__sidebar-filters-checkbox-input">
                                        <span class="catalog__sidebar-filters-checkbox-mark">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                                <use xlink:href="#checkmark"></use>
                                            </svg>
                                        </span>
                                        <span class="catalog__sidebar-filters-checkbox-text">
                                            ECOTEX
                                        </span>
                                    </label>

                                </div>
                            </div>

                            <button class="catalog__sidebar-filters-submit" type="submit">
                                Показать 30 товаров
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="catalog__main">
                <div class="catalog__selected-filters">
                    <a href="#" class="catalog__selected-filter">
                        Селфетки для уборки
                        <svg width="14" height="14" aria-hidden="true" class="icon-remove-filter">
                            <use xlink:href="#remove-filter"></use>
                        </svg>
                    </a>
                    <a href="#" class="catalog__selected-filter">
                        30x30 см
                        <svg width="14" height="14" aria-hidden="true" class="icon-remove-filter">
                            <use xlink:href="#remove-filter"></use>
                        </svg>
                    </a>
                    <a href="#" class="catalog__selected-filter">
                        Очистить всё
                        <svg width="14" height="14" aria-hidden="true" class="icon-clear-filters">
                            <use xlink:href="#clear-filters"></use>
                        </svg>
                    </a>
                </div>
                <ul class="catalog__list">
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/1.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Салфетка ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    1 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    30х30 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/2.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Набор салфеток ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    2 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    35х35 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/3.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Набор салфеток ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    3 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    40х40 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/4.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Салфетка ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    1 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    30х30 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/5.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Набор салфеток ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    5 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    35х35 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/6.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Набор салфеток ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    3 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    40х40 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/7.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Салфетка
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    1 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    30х30 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/8.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Набор салфеток
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    2 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    35х35 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/9.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Набор салфеток
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    3 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    40х40 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/10.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Насадка на швабру ecotex
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    1 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    30х30 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/11.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Универсальная салфетка Lady Fly
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    5 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    35х35 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="catalog__list-item">
                        <a href="#" class="catalog__card">
                            <div class="catalog__card-image-container">
                                <img data-src="img/catalog/12.png" alt="" class="catalog__card-image lazyload">
                            </div>
                            <h4 class="catalog__card-title">
                                Тряпка хозяйственная Lady Fly
                            </h4>
                            <div class="catalog__card-specs">
                                <div class="catalog__card-specs-item catalog__card-specs-item--orange">
                                    3 шт
                                </div>
                                <div class="catalog__card-specs-item catalog__card-specs-item--blue">
                                    40х40 см
                                </div>
                                <div class="catalog__card-specs-item">
                                    250 гр/м2
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="catalog__pagination">
                    <a href="#" class="catalog__pagination-prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-prev">
                            <use xlink:href="#pagination-prev"></use>
                        </svg>
                    </a>
                    <div class="catalog__pagination-links">
                        <a href="#" class="catalog__pagination-link active">
                            1
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            2
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            3
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            4
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            5
                        </a>
                    </div>
                    <a href="#" class="catalog__pagination-next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-next">
                            <use xlink:href="#pagination-next"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}