{{#extend "layout"}}
{{#content "main"}}

<section class="intro">
    <div class="container">
        <div class="intro__content">

        </div>
    </div>
</section>




<section class="brands">
    <div class="container">
        <div class="brands__content">
            <div class="brands__content-inner">
                <h2 class="small-heading brands__main-heading">
                    Продажа микрофибры оптом
                </h2>
                <h3 class="section-heading brands__secondary-heading">
                    Под нашими брендами<br>
                    или вашей Торговой Маркой
                </h3>

                <div class="brands__grid">
                    <a href="#" class="brands__card">
                        <div class="brands__card-image-container">
                            <img data-src="img/brands/1.jpg" alt="" class="brands__card-image lazyload">
                        </div>
                        <div class="brands__card-content">
                            <div class="brands__card-content-inner">


                                <h4 class="brands__card-title">
                                    Lady Fly
                                </h4>
                                <div class="brands__card-content-text">
                                    <p>
                                        Прогресс не стоит на месте. Современный человек стремится оптимизировать
                                        процессы,
                                        чтобы
                                        сэкономить свое драгоценное время. Эволюционные решения дошли до средств для
                                        уборки
                                        и
                                        ожидают вас на полках магазинов под брендом «ecotex».
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="brands__card-plus">

                        </div>
                    </a>
                    <a href="#" class="brands__card">
                        <div class="brands__card-image-container">
                            <img data-src="img/brands/2.jpg" alt="" class="brands__card-image lazyload">
                        </div>
                        <div class="brands__card-content">
                            <div class="brands__card-content-inner">


                                <h4 class="brands__card-title">
                                    Ecotex
                                </h4>
                                <div class="brands__card-content-text">
                                    <p>
                                        Прогресс не стоит на месте. Современный человек стремится оптимизировать
                                        процессы,
                                        чтобы
                                        сэкономить свое драгоценное время. Эволюционные решения дошли до средств для
                                        уборки
                                        и
                                        ожидают вас на полках магазинов под брендом «ecotex».
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="brands__card-plus">

                        </div>
                    </a>
                    <div class="brands__slider js-brands-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="brands__slider-card">
                                        <div class="brands__slider-card-image-container">
                                            <img data-src="img/brands/3.jpg" alt=""
                                                class="brands__slider-card-image lazyload">
                                        </div>
                                        <h4 class="brands__slider-card-title">
                                            Выполняем корпоративные заказы
                                        </h4>
                                        <div class="brands__slider-card-more">
                                            Подробнее
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="brands__slider-card">
                                        <div class="brands__slider-card-image-container">
                                            <img data-src="img/brands/3.jpg" alt=""
                                                class="brands__slider-card-image lazyload">
                                        </div>
                                        <h4 class="brands__slider-card-title">
                                            Выполняем корпоративные заказы
                                        </h4>
                                        <div class="brands__slider-card-more">
                                            Подробнее
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="brands__slider-card">
                                        <div class="brands__slider-card-image-container">
                                            <img data-src="img/brands/3.jpg" alt=""
                                                class="brands__slider-card-image lazyload">
                                        </div>
                                        <h4 class="brands__slider-card-title">
                                            Выполняем корпоративные заказы
                                        </h4>
                                        <div class="brands__slider-card-more">
                                            Подробнее
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="slider-arrows brands__slider-arrows">
                            <button class="slider-arrows__btn slider-arrows__btn--white slider-arrows__btn--prev"
                                type="button">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="slider-arrows__btn slider-arrows__btn--white slider-arrows__btn--next"
                                type="button">
                                <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events js-events">
    <div class="container">
        <div class="events__content">
            <div class="events__top-row">
                <div class="events__heading-block">
                    <h2 class="section-heading events__heading">
                        Будьте в курсе событий Bicotex
                    </h2>
                    <a href="#" class="events__all-events">
                        Все новости
                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="events__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/1.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/2.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/3.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/4.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/1.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/2.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/3.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="events__slider-card">
                                <div class="events__slider-card-content">
                                    <div class="events__slider-card-image-container">
                                        <img data-src="img/events/4.jpg" alt=""
                                            class="events__slider-card-image lazyload">
                                    </div>
                                    <h3 class="events__slider-card-heading">
                                        Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                    </h3>
                                    <div class="events__slider-card-show">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="offices">
    <div class="container">
        <div class="offices__content">
            <ul class="offices__departments-list">
                <li class="offices__departments-list-item">
                    <div class="offices__departments-block">
                        <div class="offices__departments-block-col">
                            <h3 class="offices__departments-block-heading">
                                Отдел продаж
                            </h3>
                            <div class="offices__departments-block-heading-text">
                                <p>
                                    Главный менеджер
                                </p>
                            </div>
                        </div>
                        <div class="offices__departments-block-col">
                            <ul class="offices__departments-block-contacts-list">
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="tel:+78002013253" class="offices__departments-block-contacts-link">
                                        8 800 201 32 53
                                    </a>
                                    <div class="offices__departments-block-contacts-additional">
                                        доб 6522
                                    </div>
                                </li>
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="mailto:info@bicotex.ru" class="offices__departments-block-contacts-link offices__departments-block-contacts-link--underline">
                                        info@bicotex.ru
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="offices__departments-list-item">
                    <div class="offices__departments-block">
                        <div class="offices__departments-block-col">
                            <h3 class="offices__departments-block-heading">
                                Отдел по снабжению и&nbsp;логистике
                            </h3>
                            <div class="offices__departments-block-heading-text">
                                <p>
                                    Главный менеджер
                                </p>
                            </div>
                        </div>
                        <div class="offices__departments-block-col">
                            <ul class="offices__departments-block-contacts-list">
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="tel:+78002013253" class="offices__departments-block-contacts-link">
                                        8 800 201 32 53
                                    </a>
                                    <div class="offices__departments-block-contacts-additional">
                                        доб 6522
                                    </div>
                                </li>
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="mailto:info@bicotex.ru" class="offices__departments-block-contacts-link offices__departments-block-contacts-link--underline">
                                        info@bicotex.ru
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="offices__departments-list-item">
                    <div class="offices__departments-block">
                        <div class="offices__departments-block-col">
                            <h3 class="offices__departments-block-heading">
                                Отдел качества
                            </h3>
                            <div class="offices__departments-block-heading-text">
                                <p>
                                    Главный менеджер
                                </p>
                            </div>
                        </div>
                        <div class="offices__departments-block-col">
                            <ul class="offices__departments-block-contacts-list">
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="tel:+78002013253" class="offices__departments-block-contacts-link">
                                        8 800 201 32 53
                                    </a>
                                    <div class="offices__departments-block-contacts-additional">
                                        доб 6522
                                    </div>
                                </li>
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="mailto:info@bicotex.ru" class="offices__departments-block-contacts-link offices__departments-block-contacts-link--underline">
                                        info@bicotex.ru
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="offices__departments-list-item">
                    <div class="offices__departments-block">
                        <div class="offices__departments-block-col">
                            <h3 class="offices__departments-block-heading">
                                Отдел персонала
                            </h3>
                            <div class="offices__departments-block-heading-text">
                                <p>
                                    Менеджер
                                </p>
                            </div>
                        </div>
                        <div class="offices__departments-block-col">
                            <ul class="offices__departments-block-contacts-list">
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="tel:+78002013253" class="offices__departments-block-contacts-link">
                                        8 800 201 32 53
                                    </a>
                                    <div class="offices__departments-block-contacts-additional">
                                        доб 6522
                                    </div>
                                </li>
                                <li class="offices__departments-block-contacts-list-item">
                                    <a href="mailto:info@bicotex.ru" class="offices__departments-block-contacts-link offices__departments-block-contacts-link--underline">
                                        info@bicotex.ru
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}