{{#extend "layout"}}
{{#content "main"}}



<div class="process-pin-wrapper">
    <section class="intro">
        <div class="container">
            <div class="intro__content">
                <div class="intro__content-inner">
                    <div class="intro__row">
                        <h2 class="section-heading intro__heading">
                            Завод полного цикла по&nbsp;производству микрофибры
                        </h2>
                        <div class="intro__video-outer-wrapper">
                            <div class="intro__video-pinned-element">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2557.11 2550.45"
                                    class="intro__video-shape intro__video-large-shape">
                                    <path
                                        d="M1279.05 2423.72c634.53 0 1151-515.35 1151-1148.5s-516.47-1148.5-1151-1148.5h-1151v1148.5c0 633.15 516.47 1148.5 1151 1148.5Z"
                                        fill="none" stroke="#fcbba1" class="intro__video-shape-path" />
                                    <circle fill="#fcbba1" cx="131.55" cy="1369.22" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="604.24" cy="126.72" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="1231.59" cy="2423.72" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="2421.26" cy="1416.87" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="1903.52" cy="310.41" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="131.55" cy="1369.22" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="604.24" cy="126.72" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="1231.59" cy="2423.72" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="2421.26" cy="1416.87" r="5"
                                        class="intro__video-shape-ball" />
                                    <circle fill="#fcbba1" cx="1903.52" cy="310.41" r="5"
                                        class="intro__video-shape-ball" />
                                </svg>



                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1458.25 1455.09"
                                    class="intro__video-shape intro__video-medium-shape">
                                    <path
                                        d="M729.13 1416c380.39 0 690-308.94 690-688.5S1109.52 39 729.13 39h-690v688.5c0 379.6 309.61 688.5 690 688.5Z"
                                        fill="none" stroke="#ff9e77" class="intro__video-shape-path" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                    <circle cx="68.63" cy="927.54" r="5" fill="#ff9e77"
                                        class="intro__video-shape-ball" />
                                </svg>



                                <a href="assets/video/droplet.mp4" class="intro__video" data-fancybox="">


                                    <img src="img/droplet-preview.png" alt="">


                                    <div class="intro__video-inner">
                                        <svg width="50" height="50" aria-hidden="true" class="icon-play">
                                            <use xlink:href="#play"></use>
                                        </svg>
                                        <div class="intro__video-text">
                                            смотреть<br> видео
                                        </div>
                                    </div>
                                </a>
                                <div class="intro__video-dot">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="intro__numbers">
                        <ul class="intro__numbers-list">
                            <li class="intro__numbers-list-item">
                                <div class="intro__numbers-card">
                                    <div class="intro__numbers-card-amount">
                                        4 000 т
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        Выпуск продукции в год
                                    </div>
                                </div>
                            </li>
                            <li class="intro__numbers-list-item">
                                <div class="intro__numbers-card">
                                    <div class="intro__numbers-card-amount">
                                        11 719 м²
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        Площадь производственных цехов
                                    </div>
                                </div>
                            </li>
                            <li class="intro__numbers-list-item">
                                <div class="intro__numbers-card">
                                    <div class="intro__numbers-card-amount">
                                        340
                                    </div>
                                    <div class="intro__numbers-card-text">
                                        Рабочих мест
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="process js-process">
        <div class="container">
            <div class="process__heading-wrapper">
                <h2 class="section-heading process__main-heading">
                    Производство микрофибры из гранулята сырья до готового изделия

                </h2>
            </div>
            <div class="process__row">
                <div class="process__slider-pagination">
                    <a href="#" class="process__slider-pagination-bullet active">
                        <span class="process__slider-pagination-bullet-text">
                            1 ЭТАП
                        </span>

                    </a>
                    <a href="#" class="process__slider-pagination-bullet">

                        <span class="process__slider-pagination-bullet-text">
                            2 ЭТАП
                        </span>
                    </a>
                    <a href="#" class="process__slider-pagination-bullet">

                        <span class="process__slider-pagination-bullet-text">
                            3 ЭТАП
                        </span>
                    </a>
                    <a href="#" class="process__slider-pagination-bullet">

                        <span class="process__slider-pagination-bullet-text">
                            4 ЭТАП
                        </span>
                    </a>

                </div>
                <div class="process__layers">
                    <div class="process__layer">
                        <div class="process__layer-content">


                            <div class="process__slider-text">
                                <div class="process__slider-card">
                                    <h3 class="process__slider-card-title">
                                        Этап 1. Формование и текстурирование нити
                                    </h3>
                                    <div class="process__slider-card-text">
                                        <p>
                                            Плавление гранулята с последующей вытяжкой нитей и намоткой на бобины.
                                            Придание нитям необходимые физико-механические свойства
                                        </p>
                                    </div>
                                    <a href="#" class="process__slider-card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                            <div class="process__slider-images">
                                <div class="process__slider-images-circle">
                                    <div class="process__slider-images-outer-shell">
                                        <div class="process__slider-images-outer-shell-blob">
                                            <div class="process__slider-images-outer-shell-blob-slider-card">
                                                <div class="process__slider-images-outer-shell-blob-amount">
                                                    45 гр
                                                </div>
                                                <div class="process__slider-images-outer-shell-blob-text">
                                                    микроволокна понадобится, чтобы один раз обернуть экватор
                                                    <img src="img/earth.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process__slider-images-inner-slider">

                                        <div class="process__slider-images-progress">
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772B"
                                                    stroke-opacity="0.3" />
                                            </svg>
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772A"
                                                    stroke-opacity="1" />
                                            </svg>

                                        </div>
                                        <div class="process__slider-images-slider">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/1.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/2.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/3.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/4.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="slider-arrows process__slider-images-arrows">
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--prev"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-left">
                                                    <use xlink:href="#slider-arrow-left"></use>
                                                </svg>
                                            </button>
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--next"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-right">
                                                    <use xlink:href="#slider-arrow-right"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="process__layer">
                        <div class="process__layer-content">


                            <div class="process__slider-text">
                                <div class="process__slider-card">
                                    <h3 class="process__slider-card-title">
                                        Этап 2. Снование и вязание трикотажного полотна
                                    </h3>
                                    <div class="process__slider-card-text">
                                        <p>
                                            Используется технология партионного снования нитей на навои с последующим
                                            вязанием полотна различной ширины, плотности и вида
                                        </p>
                                    </div>
                                    <a href="#" class="process__slider-card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                            <div class="process__slider-images">
                                <div class="process__slider-images-circle">
                                    <div class="process__slider-images-outer-shell">
                                        <div class="process__slider-images-outer-shell-blob">
                                            <div class="process__slider-images-outer-shell-blob-slider-card">
                                                <div class="process__slider-images-outer-shell-blob-amount">
                                                    За 21 день
                                                </div>
                                                <div class="process__slider-images-outer-shell-blob-text">

                                                    мы произведем 384 400 км полотна, что сравнимо с расстоянием* от
                                                    Земли до Луны
                                                </div>
                                                <div class="process__slider-images-outer-shell-blob-remark">
                                                    *18 181 км полотна в день
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process__slider-images-inner-slider">

                                        <div class="process__slider-images-progress">
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772B"
                                                    stroke-opacity="0.3" />
                                            </svg>
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772A"
                                                    stroke-opacity="1" />
                                            </svg>

                                        </div>
                                        <div class="process__slider-images-slider">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/5.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/6.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/7.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="slider-arrows process__slider-images-arrows">
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--prev"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-left">
                                                    <use xlink:href="#slider-arrow-left"></use>
                                                </svg>
                                            </button>
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--next"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-right">
                                                    <use xlink:href="#slider-arrow-right"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="process__layer">
                        <div class="process__layer-content">


                            <div class="process__slider-text">
                                <div class="process__slider-card">
                                    <h3 class="process__slider-card-title">

                                        Этап 3. Крашение и отделка трикотажного полотна

                                    </h3>
                                    <div class="process__slider-card-text">
                                        <p>

                                            Под воздействием давленияи высокой температуры ткань обретает цвет

                                        </p>
                                    </div>
                                    <a href="#" class="process__slider-card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                            <div class="process__slider-images">
                                <div class="process__slider-images-circle">
                                    <div class="process__slider-images-outer-shell">
                                        <div class="process__slider-images-outer-shell-blob">
                                            <div class="process__slider-images-outer-shell-blob-slider-card">
                                                <div class="process__slider-images-outer-shell-blob-amount">
                                                    100 кг
                                                </div>
                                                <div class="process__slider-images-outer-shell-blob-text">
                                                    красителя понадобится для крашения 10 т. полотна
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process__slider-images-inner-slider">

                                        <div class="process__slider-images-progress">
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772B"
                                                    stroke-opacity="0.3" />
                                            </svg>
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772A"
                                                    stroke-opacity="1" />
                                            </svg>

                                        </div>
                                        <div class="process__slider-images-slider">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/8.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/9.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="slider-arrows process__slider-images-arrows">
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--prev"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-left">
                                                    <use xlink:href="#slider-arrow-left"></use>
                                                </svg>
                                            </button>
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--next"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-right">
                                                    <use xlink:href="#slider-arrow-right"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="process__layer">
                        <div class="process__layer-content">


                            <div class="process__slider-text">
                                <div class="process__slider-card">
                                    <h3 class="process__slider-card-title">
                                        Этап 4. Раскрой и пошив готового изделия
                                    </h3>
                                    <div class="process__slider-card-text">
                                        <p>
                                            Технология изготовления готовой продукции включает в себя стадии продольной
                                            и поперечной обработки кромок готовых изделий с максимальной точностью
                                            пошива
                                        </p>
                                    </div>
                                    <a href="#" class="process__slider-card-link">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                            <div class="process__slider-images">
                                <div class="process__slider-images-circle">
                                    <div class="process__slider-images-outer-shell">
                                        <div class="process__slider-images-outer-shell-blob">
                                            <div class="process__slider-images-outer-shell-blob-slider-card">
                                                <div class="process__slider-images-outer-shell-blob-amount">
                                                    5 млн
                                                </div>
                                                <div class="process__slider-images-outer-shell-blob-text">
                                                    салфеток мы произведем в течение месяца, что покроет всю площадь
                                                    Ватикана
                                                </div>
                                                <div class="process__slider-images-outer-shell-blob-remark">
                                                    *Cалфетка 30*30 см, 220 гр. Общая площадь 0,45 км²
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process__slider-images-inner-slider">

                                        <div class="process__slider-images-progress">
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772B"
                                                    stroke-opacity="0.3" />
                                            </svg>
                                            <svg width="711" height="711" viewBox="0 0 711 711" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <circle fill="none" cx="355.5" cy="355.5" r="355" stroke="#FF772A"
                                                    stroke-opacity="1" />
                                            </svg>

                                        </div>
                                        <div class="process__slider-images-slider">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/10.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="process__slider-images-card">
                                                            <img data-src="img/stages/11.jpg" alt=""
                                                                class="process__slider-images-card-image lazyload">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="slider-arrows process__slider-images-arrows">
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--prev"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-left">
                                                    <use xlink:href="#slider-arrow-left"></use>
                                                </svg>
                                            </button>
                                            <button
                                                class="slider-arrows__btn slider-arrows__btn--filled slider-arrows__btn--pale slider-arrows__btn--next"
                                                type="button">
                                                <svg width="14" height="14" aria-hidden="true"
                                                    class="icon-slider-arrow-right">
                                                    <use xlink:href="#slider-arrow-right"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<section class="learn-about">
    <div class="learn-about__bg">
        <img src="img/learn-about-bg.jpg" alt="">
    </div>
    <div class="container">
        <div class="learn-about__content">
            <div class="learn-about__content-inner">
                <h2 class="section-heading learn-about__heading">
                    Производим на уникальном
                    европейском оборудовании
                </h2>
                <a href="#" class="learn-about__link">
                    Познакомиться с производством
                    <svg width="14" height="14" aria-hidden="true" class="icon-learn-about-arrow">
                        <use xlink:href="#learn-about-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="production">

    <div class="container">
        <div class="production__figure">
            <img src="img/production-figure.svg" alt="" class="production__figure-image">
            <div class="production__figure-text">
                <p>
                    Инновации в текстильной
                    промышленности
                </p>
            </div>
        </div>
        <div class="production__content">
            <div class="production__content-inner">
                <h2 class="section-heading production__heading">
                    Ознакомьтесь с нашей продукцией
                </h2>
                <ul class="production__list">
                    <li class="production__list-item">
                        <a href="#" class="production__card">
                            <h3 class="production__card-title">
                                Нити <svg width="14" height="14" aria-hidden="true" class="icon-production-arrow-right">
                                    <use xlink:href="#production-arrow-right"></use>
                                </svg>
                            </h3>
                            <div class="production__card-text">
                                <p>
                                    Производим формование бикомпонентных (Bico) и полностью вытянутых (FDY) нитей по
                                    европейским стандартам
                                </p>

                            </div>
                            <img src="img/production/1.png" alt="" class="production__card-image">
                        </a>
                    </li>
                    <li class="production__list-item">
                        <a href="#" class="production__card">
                            <h3 class="production__card-title">
                                Ткань <svg width="14" height="14" aria-hidden="true"
                                    class="icon-production-arrow-right">
                                    <use xlink:href="#production-arrow-right"></use>
                                </svg>
                            </h3>
                            <div class="production__card-text">
                                <p>
                                    Используем передовые технологии вязания, окрашивания и мягчения ткани для придания
                                    полотну необходимых свойств
                                </p>

                            </div>
                            <img src="img/production/2.png" alt="" class="production__card-image">
                        </a>
                    </li>
                    <li class="production__list-item">
                        <a href="#" class="production__card">
                            <h3 class="production__card-title">
                                Готовые изделия <svg width="14" height="14" aria-hidden="true"
                                    class="icon-production-arrow-right">
                                    <use xlink:href="#production-arrow-right"></use>
                                </svg>
                            </h3>
                            <div class="production__card-text">
                                <p>
                                    Полностью автоматизированная линия пошива гарантирует максимальное качество готовых
                                    изделий
                                </p>

                            </div>
                            <img src="img/production/3.png" alt="" class="production__card-image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="ceo">
    <div class="container">
        <div class="ceo__content">
            <div class="ceo__content-inner">
                <div class="ceo__row">
                    <div class="ceo__col">
                        <img src="img/quotes.svg" alt="" class="ceo__quotes-icon">
                        <div class="ceo__quote">
                            <h3 class="ceo__quote-heading">
                                Мы с нуля создаем текстильную промышленность в России
                            </h3>
                            <div class="ceo__quote-text">
                                <p>
                                    Завод по производству микрофибры — это не
                                    только современное и дорогостоящее оборудование.
                                    Завод — это прежде всего люди, которые собрались вместе вокруг общей идеи — сделать
                                    мир чище.
                                    При этом важной задачей является сохранение природных ресурсов, которых с каждым
                                    днем
                                    становится всё меньше на планете.
                                </p>
                            </div>
                            <a href="#" class="ceo__quote-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="ceo__col">
                        <div class="ceo__info">
                            <div class="ceo__image-block">


                                <div class="ceo__image-container">
                                    <img src="img/ceo.jpg" alt="" class="ceo__image">
                                </div>
                            </div>
                            <div class="ceo__main-info">
                                <div class="ceo__name">
                                    Вдовин Андрей Александрович
                                </div>
                                <div class="ceo__role">
                                    Генеральный директор
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sales">
    <div class="container">
        <div class="sales__content">
            <div class="sales__content-inner">
                <div class="sales__heading-block">
                    <h2 class="section-heading sales__heading">
                        Продажа микрофибры оптом
                    </h2>
                    <div class="sales__heading-text">
                        <p>
                            Под нашими брендами или вашей торговой маркой
                        </p>
                    </div>
                </div>
                <ul class="sales__list">
                    <li class="sales__list-item">
                        <a href="#" class="sales__card">
                            <div class="sales__card-image-container">
                                <img data-src="img/sales/1.jpg" alt="" class="sales__card-image lazyload">
                            </div>
                            <div class="sales__card-content">
                                <h3 class="sales__card-title">
                                    Что нужно для счастья?
                                    Чистый дом за 15 минут в день
                                </h3>
                            </div>

                        </a>
                    </li>
                    <li class="sales__list-item">
                        <a href="#" class="sales__card">
                            <div class="sales__card-image-container">
                                <img data-src="img/sales/2.jpg" alt="" class="sales__card-image lazyload">
                            </div>
                            <div class="sales__card-content">
                                <h3 class="sales__card-title">
                                    Любить природу —
                                    это превращать пластиковую бутылку в салфетку
                                </h3>
                            </div>

                        </a>
                    </li>
                    <li class="sales__list-item">
                        <div class="sales__slider-card js-sales-slider">
                            <div class="sales__slider-card-bg">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="sales__slider-card-bg-card">
                                                <img src="img/sales/slider-card.jpg" alt=""
                                                    class="sales__slider-card-bg-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="sales__slider-card-bg-card">
                                                <img src="img/sales/slider-card.jpg" alt=""
                                                    class="sales__slider-card-bg-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="sales__slider-card-bg-card">
                                                <img src="img/sales/slider-card.jpg" alt=""
                                                    class="sales__slider-card-bg-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sales__slider-card-content">
                                <div class="sales__slider-card-label">
                                    Выполняем
                                    корпоративные
                                    заказы
                                </div>

                                <a href="#" class="sales__slider-card-btn">
                                    Подробнее
                                </a>
                            </div>
                            <div class="sales__slider-card-pagination">

                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="events js-events">
    <div class="container">
        <div class="events__content">
            <div class="events__content-inner">
                <h2 class="section-heading events__heading">
                    Будьте в курсе событий Bicotex
                </h2>
                <div class="events__top-row">
                    <a href="#" class="events__all-events">
                        Все новости
                    </a>
                    <div class="slider-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="events__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/1.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/2.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/3.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/4.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/1.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/2.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/3.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="events__slider-card">
                                    <div class="events__slider-card-content">
                                        <div class="events__slider-card-image-container">
                                            <img data-src="img/events/4.jpg" alt=""
                                                class="events__slider-card-image lazyload">
                                        </div>
                                        <h3 class="events__slider-card-heading">
                                            Приглашаем Вас на международную выставку HOUSEHOLD EXPO
                                        </h3>
                                        <div class="events__slider-card-show">
                                            Читать статью
                                            <svg width="14" height="14" aria-hidden="true"
                                                class="icon-simple-arrow-right">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{{/content}}
{{/extend}}