{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    <div class="container">
        <div class="not-found__grid">
            <div class="not-found__inner">
                <h1 class="not-found__heading">
                    404
                </h1>
                <div class="not-found__content">
                    <div class="not-found__content-inner">
                        <h3 class="not-found__content-heading">
                            Страница не найдена
                        </h3>
                        <div class="not-found__content-text">
                            <p>
                                Возможно, страница была удалена или никогда не существовала. Проверьте правильность адреса
                            </p>
                        </div>
                        <a href="#" class="not-found__back-link">
                            Вернуться на главную
                        </a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}