{{#extend "layout"}}
{{#content "main"}}


<section class="press-center">
    <div class="container">
        <div class="press-center__grid">
            <div class="press-center__inner">
                <div class="press-center__breadcrumbs">
                    <a href="#">
                        Главная
                    </a>
                    —
                    <a href="#">
                        О компании
                    </a>
                    —
                    <a href="#">
                        Пресс-центр
                    </a>
                </div>
                <h1 class="press-center__main-heading">
                    Пресс-центр
                </h1>
                <div class="press-center__selected-news">
                    <div class="press-center__selected-news-row">
                        <div class="press-center__selected-news-col">
                            <img data-src="img/selected-news.jpg" alt=""
                                class="press-center__selected-news-image lazyload">
                        </div>
                        <div class="press-center__selected-news-col">
                            <div class="press-center__selected-news-info">
                                выставки — 08 ОКТЯБРЯ 2021
                            </div>
                            <h2 class="press-center__selected-news-heading">
                                Приглашаем на выставку CleanExpo Moscow PULIRE
                            </h2>
                            <a href="#" class="press-center__selected-news-read-more">
                                Подробнее <svg width="14" height="14" aria-hidden="true"
                                    class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="press-center__filters">
                    <div class="press-center__filters-categories">
                        <ul class="press-center__filters-categories-list">
                            <li class="press-center__filters-categories-list-item">
                                <a href="#" class="press-center__filters-categories-link active">
                                    Все
                                </a>
                            </li>
                            <li class="press-center__filters-categories-list-item">
                                <a href="#" class="press-center__filters-categories-link">
                                    Выставки
                                </a>
                            </li>
                            <li class="press-center__filters-categories-list-item">
                                <a href="#" class="press-center__filters-categories-link">
                                    О компании
                                </a>
                            </li>
                            <li class="press-center__filters-categories-list-item">
                                <a href="#" class="press-center__filters-categories-link">
                                    СМИ о нас
                                </a>
                            </li>
                            <li class="press-center__filters-categories-list-item">
                                <a href="#" class="press-center__filters-categories-link">
                                    Производство
                                </a>
                            </li>
                            <li class="press-center__filters-categories-list-item">
                                <a href="#" class="press-center__filters-categories-link">
                                    Фото и видео
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="press-center__date" id="picker-container">
                        <label class="press-center__date-select-input-label">
                            <svg width="14" height="14" aria-hidden="true" class="icon-calendar">
                                <use xlink:href="#calendar"></use>
                            </svg>
                            <input type="text" class="press-center__date-select-input js-datepicker"
                                data-container="#picker-container" placeholder="Дата" readonly>

                        </label>
                    </div>
                </div>
                <ul class="press-center__catalog-list">
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/1.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                Выставка HouseHold Expo подошла к финалу
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    За 2 дня мы успели познакомитьсяс потенциальными клиентамии представить им готовую
                                    продукцию бренда bicotex
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/2.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                10 выставка «Интерткань-2021. Осень» подошла к концу
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    Мы были рады принять в ней участие и познакомить клиентов и партнеров с первым в
                                    России заводом полного цикла по производству микрофибры.
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/3.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                Запуск производства микрофибры
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    Специально для организации этого производства был выкуплен земельный участок,
                                    площадью 96 890 кв. м. и произведен капитальный ремонт производственного цеха,
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/4.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                Выставка HouseHold Expo подошла к финалу
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    За 2 дня мы успели познакомитьсяс потенциальными клиентами и представить им готовую
                                    продукцию бренда bicotex
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/5.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                10 выставка «Интерткань-2021. Осень» подошла к концу
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    Мы были рады принять в ней участие и познакомить клиентов и партнеров с первым в
                                    России заводом полного цикла по производству микрофибры.
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/6.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                Запуск производства микрофибры
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    Специально для организации этого производства был выкуплен земельный участок,
                                    площадью 96 890 кв. м. и произведен капитальный ремонт производственного цеха,
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/7.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                Выставка HouseHold Expo подошла к финалу
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    За 2 дня мы успели познакомитьсяс потенциальными клиентами и представить им готовую
                                    продукцию бренда bicotex
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/8.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                10 выставка «Интерткань-2021. Осень» подошла к концу
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    Мы были рады принять в ней участие и познакомить клиентов и партнеров с первым в
                                    России заводом полного цикла по производству микрофибры.
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="press-center__catalog-list-item">
                        <a href="#" class="press-center__catalog-card">
                            <div class="press-center__catalog-card-image-container">
                                <img data-src="img/press-center/9.jpg" alt=""
                                    class="press-center__catalog-card-image lazyload">
                            </div>
                            <div class="press-center__catalog-card-info">
                                выставки — 17 сентября 2021
                            </div>
                            <h4 class="press-center__catalog-card-title">
                                Запуск производства микрофибры
                            </h4>
                            <div class="press-center__catalog-card-text">
                                <p>
                                    Специально для организации этого производства был выкуплен земельный участок,
                                    площадью 96 890 кв. м. и произведен капитальный ремонт производственного цеха,
                                </p>
                            </div>
                            <div class="press-center__catalog-card-show-more">
                                Подробнее
                                <svg width="14" height="14" aria-hidden="true" class="icon-press-center-arrow">
                                    <use xlink:href="#press-center-arrow"></use>
                                </svg>
                            </div>
                        </a>
                    </li>

                </ul>
                <div class="catalog__pagination">
                    <a href="#" class="catalog__pagination-prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-prev">
                            <use xlink:href="#pagination-prev"></use>
                        </svg>
                    </a>
                    <div class="catalog__pagination-links">
                        <a href="#" class="catalog__pagination-link active">
                            1
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            2
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            3
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            4
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            5
                        </a>
                    </div>
                    <a href="#" class="catalog__pagination-next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-next">
                            <use xlink:href="#pagination-next"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}