{{#extend "layout"}}
{{#content "main"}}

<section class="photo-header">
    <div class="photo-header__bg">
        <img src="img/production-intro.jpg" alt="" class="photo-header__bg-image">
    </div>
    <div class="container">
        <div class="photo-header__grid">
            <div class="photo-header__grid-inner">
                <div class="photo-header__content">


                    <div class="photo-header__breadcrumbs">
                        <a href="#">
                            Главная
                        </a> —
                        <a href="#">
                            Производство
                        </a>
                    </div>
                    <h1 class="photo-header__main-heading">
                        Производство
                    </h1>
                    <div class="photo-header__main-heading-text">
                        <p>
                            Bicotex это полный цикл производства микрофибры на одном заводе
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="production-page">
    <div class="container">


        <div class="production-page__equipment">
            <div class="production-page__grid">
                <div class="production-page__grid-inner">
                    <div class="production-page__equipment-card">
                        <div class="production-page__equipment-card-icon">
                            <svg width="998" height="998" viewBox="0 0 998 998" fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="production-page__equipment-card-icon-large-shape js-orange-line">
                                <path opacity="0.3"
                                    d="M499,27.75c260.27,0,471.25,211,471.25,471.25S759.27,970.25,499,970.25,27.75,759.27,27.75,499,238.73,27.75,499,27.75Z"
                                    stroke="#FF772B" fill="none" stroke-width="1" vector-effect="non-scaling-stroke"
                                    class="js-orange-line-shape-path" />

                                <circle fill="#FFD8C9" cx="131.55" cy="1369.22" r="5" class="js-orange-line-ball" />
                                <circle fill="#FFD8C9" cx="604.24" cy="126.72" r="5" class="js-orange-line-ball" />
                                <circle fill="#FFD8C9" cx="1231.59" cy="2423.72" r="5" class="js-orange-line-ball" />
                                <circle fill="#FFD8C9" cx="131.55" cy="1369.22" r="5" class="js-orange-line-ball" />
                                <circle fill="#FFD8C9" cx="604.24" cy="126.72" r="5" class="js-orange-line-ball" />
                                <circle fill="#FFD8C9" cx="1231.59" cy="2423.72" r="5" class="js-orange-line-ball" />
                            </svg>
                            <svg width="998" height="998" viewBox="0 0 998 998" fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="production-page__equipment-card-icon-small-shape js-orange-line">
                                <path 
                                    d="M499,27.75c260.27,0,471.25,211,471.25,471.25S759.27,970.25,499,970.25,27.75,759.27,27.75,499,238.73,27.75,499,27.75Z"
                                    stroke="#FF772B" fill="none" stroke-width="1" vector-effect="non-scaling-stroke"
                                    class="js-orange-line-shape-path" />

                                <circle fill="#FF772B" cx="131.55" cy="1369.22" r="10" class="js-orange-line-ball" />
                                <circle fill="#FF772B" cx="604.24" cy="126.72" r="10" class="js-orange-line-ball" />
                               
                            </svg>
                            <img src="img/diamond.svg" alt="" class="production-page__equipment-card-icon-image">
                        </div>
                        <div class="production-page__equipment-card-content">
                            <div class="production-page__equipment-card-content-text">
                                <p>
                                    Вся продукция Bicotex производится на европейском оборудовании с соблюдением мировых
                                    стандартов качества
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="production-page__stages">
            <div class="production-page__grid">
                <div class="production-page__grid-inner">
                    <ul class="production-page__stages-list">
                        <li class="production-page__stages-list-item">
                            <div class="production-page__stages-card">
                                <div class="production-page__stages-card-number">
                                    1
                                </div>
                                <div class="production-page__stages-card-content">
                                    <h3 class="production-page__stages-card-title">
                                        Формование
                                    </h3>
                                    <div class="production-page__stages-card-text">
                                        <p>
                                            Формование нитей текстильного назначения производится из сертифицированных
                                            полимеров
                                            бикомпонентным и монокомпонентным способом. Прежде чем гранулят превратится
                                            в нить,
                                            он проходит стадии от плавления гранул до формирования нитей с последующей
                                            вытяжкой
                                            и намоткой на бобины
                                        </p>
                                    </div>
                                </div>
                                <div class="production-page__stages-card-video">
                                    <a href="assets/video/droplet.mp4" class="production-page__stages-card-video-link"
                                        data-fancybox="production">
                                        <div class="production-page__stages-card-video-bg">
                                            <img src="img/production-stages/1.jpg" alt=""
                                                class="production-page__stages-card-video-preview">
                                        </div>
                                        <div class="production-page__stages-card-video-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                            <div class="production-page__stages-card-video-content-text">
                                                смотреть видео
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="production-page__stages-list-item">
                            <div class="production-page__stages-card">
                                <div class="production-page__stages-card-number">
                                    2
                                </div>
                                <div class="production-page__stages-card-content">
                                    <h3 class="production-page__stages-card-title">
                                        Текстурирование

                                    </h3>
                                    <div class="production-page__stages-card-text">
                                        <p>
                                            Нить сформирована. Наступил этап ее текстурирования. Выдерживая весь
                                            технологический процесс, нить обретает все требуемыефизико-механические
                                            свойства и готова к созданию полотна
                                        </p>
                                    </div>
                                </div>
                                <div class="production-page__stages-card-video">
                                    <a href="assets/video/droplet.mp4" class="production-page__stages-card-video-link"
                                        data-fancybox="production">
                                        <div class="production-page__stages-card-video-bg">
                                            <img src="img/production-stages/2.jpg" alt=""
                                                class="production-page__stages-card-video-preview">
                                        </div>
                                        <div class="production-page__stages-card-video-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                            <div class="production-page__stages-card-video-content-text">
                                                смотреть видео
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="production-page__stages-list-item">
                            <div class="production-page__stages-card">
                                <div class="production-page__stages-card-number">
                                    3
                                </div>
                                <div class="production-page__stages-card-content">
                                    <h3 class="production-page__stages-card-title">
                                        Снование и вязание
                                    </h3>
                                    <div class="production-page__stages-card-text">
                                        <p>
                                            Чтобы полотно было качественным, мы используем технологию снования нитей на
                                            навои с последующим вязанием полотна различной ширины, плотности и вида
                                        </p>
                                    </div>
                                </div>
                                <div class="production-page__stages-card-video">
                                    <a href="assets/video/droplet.mp4" class="production-page__stages-card-video-link"
                                        data-fancybox="production">
                                        <div class="production-page__stages-card-video-bg">
                                            <img src="img/production-stages/3.jpg" alt=""
                                                class="production-page__stages-card-video-preview">
                                        </div>
                                        <div class="production-page__stages-card-video-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                            <div class="production-page__stages-card-video-content-text">
                                                смотреть видео
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="production-page__stages-list-item">
                            <div class="production-page__stages-card">
                                <div class="production-page__stages-card-number">
                                    4
                                </div>
                                <div class="production-page__stages-card-content">
                                    <h3 class="production-page__stages-card-title">
                                        Крашение
                                    </h3>
                                    <div class="production-page__stages-card-text">
                                        <p>
                                            Этап, на котором полотно обретает цвет. Наша цветовая палитра многогранна.
                                            Она включает в себя сочные и пастельные краски. Только соблюдая
                                            технологический процесс, мы получаем чистый цвет и требуемые свойства
                                            полотна
                                        </p>
                                    </div>
                                </div>
                                <div class="production-page__stages-card-video">
                                    <a href="assets/video/droplet.mp4" class="production-page__stages-card-video-link"
                                        data-fancybox="production">
                                        <div class="production-page__stages-card-video-bg">
                                            <img src="img/production-stages/4.jpg" alt=""
                                                class="production-page__stages-card-video-preview">
                                        </div>
                                        <div class="production-page__stages-card-video-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                            <div class="production-page__stages-card-video-content-text">
                                                смотреть видео
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="production-page__stages-list-item">
                            <div class="production-page__stages-card">
                                <div class="production-page__stages-card-number">
                                    5
                                </div>
                                <div class="production-page__stages-card-content">
                                    <h3 class="production-page__stages-card-title">
                                        Отделка полотна

                                    </h3>
                                    <div class="production-page__stages-card-text">
                                        <p>
                                            Прикасаясь к полотну из микрофибры, которое прошло все стадии производства
                                            по выдержанной технологии, вы обязательно почувствуете его мягкость и
                                            шелковистость. Именно на этом этапе мы достигаем таких свойств ткани
                                        </p>
                                    </div>
                                </div>
                                <div class="production-page__stages-card-video">
                                    <a href="assets/video/droplet.mp4" class="production-page__stages-card-video-link"
                                        data-fancybox="production">
                                        <div class="production-page__stages-card-video-bg">
                                            <img src="img/production-stages/5.jpg" alt=""
                                                class="production-page__stages-card-video-preview">
                                        </div>
                                        <div class="production-page__stages-card-video-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                            <div class="production-page__stages-card-video-content-text">
                                                смотреть видео
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="production-page__stages-list-item">
                            <div class="production-page__stages-card">
                                <div class="production-page__stages-card-number">
                                    6
                                </div>
                                <div class="production-page__stages-card-content">
                                    <h3 class="production-page__stages-card-title">
                                        Линия автоматического раскроя


                                    </h3>
                                    <div class="production-page__stages-card-text">
                                        <p>
                                            Этап, где рулоны полотна попадают на линию продольной и поперечной резки. На
                                            оборудовании высокого класса мы быстро превращаем рулон в салфетку, а после
                                            запускаем раскрой на обработку кромок и получаем готовое изделие. Для нас
                                            крайне важно, чтобы производимый нами товар был экологичен, поэтому мы
                                            запустили передовую технологию обработки края полотна: линию ультразвука.
                                            Продукцию с такой обработкой края можно перерабатывать и использовать сырье
                                            вторично.
                                        </p>
                                    </div>
                                </div>
                                <div class="production-page__stages-card-video">
                                    <a href="assets/video/droplet.mp4" class="production-page__stages-card-video-link"
                                        data-fancybox="production">
                                        <div class="production-page__stages-card-video-bg">
                                            <img src="img/production-stages/6.jpg" alt=""
                                                class="production-page__stages-card-video-preview">
                                        </div>
                                        <div class="production-page__stages-card-video-content">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                            <div class="production-page__stages-card-video-content-text">
                                                смотреть видео
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="production-page__quality-control">
            <div class="production-page__grid">
                <div class="production-page__grid-inner">
                    <h2 class="production__page-quality-control-heading">
                        Контроль качества
                    </h2>
                    <ul class="production__page-quality-control-list">
                        <li class="production__page-quality-control-list-item">
                            <div class="production__page-quality-control-card">
                                <div class="production__page-quality-control-card-bg">
                                    <img data-src="img/quality-control/1.jpg" alt=""
                                        class="production__page-quality-control-card-bg-image lazyload">
                                </div>
                                <div class="production__page-quality-control-card-content">
                                    <div class="production__page-quality-control-card-content-inner">
                                        <h3 class="production__page-quality-control-card-heading">
                                            Лаборатория BICOTEX
                                        </h3>
                                        <div class="production__page-quality-control-card-text">
                                            <p>
                                                В лаборатории наши специалисты производят контроль качества нитейи
                                                трикотажного полотна
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="production__page-quality-control-list-item">
                            <div class="production__page-quality-control-card">
                                <div class="production__page-quality-control-card-bg">
                                    <img data-src="img/quality-control/2.jpg" alt=""
                                        class="production__page-quality-control-card-bg-image lazyload">
                                </div>
                                <div class="production__page-quality-control-card-content">
                                    <div class="production__page-quality-control-card-content-inner">
                                        <h3 class="production__page-quality-control-card-heading">
                                            Тщательная проверка
                                        </h3>
                                        <div class="production__page-quality-control-card-text">
                                            <p>
                                                Только качественный продукт, созданный умелыми руками сотрудников
                                                BICOTEX попадает в продажу
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}