{{#extend "layout"}}
{{#content "main"}}


<section class="product">
    <div class="container">

        <div class="product__grid">
            <div class="product__inner">
                <div class="product__breadcrumbs">
                    <a href="#">
                        Главная
                    </a> —
                    <a href="#">
                        Каталог
                    </a> —
                    <a href="#">
                        Готовые изделия
                    </a> —
                    <a href="#" class="active">
                        Салфетка ecotex 1 шт.
                    </a>
                </div>
                <a href="#" class="product__back">
                    <svg width="14" height="14" aria-hidden="true" class="icon-back-arrow">
                        <use xlink:href="#back-arrow"></use>
                    </svg>
                    Вернуться к каталогу
                </a>
                <div class="product__top-row">
                    <div class="product__gallery js-product-gallery">
                        <div class="product__gallery-slider">
                            <div class="product__gallery-slider-main">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/1.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/1.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/2.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/2.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/3.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/3.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/4.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/4.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/5.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/5.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/1.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/1.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/2.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/2.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/3.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/3.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/4.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/4.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="img/product-gallery/5.jpg"
                                                class="product__gallery-slider-main-card">
                                                <img data-src="img/product-gallery/5.jpg" alt=""
                                                    class="product__gallery-slider-main-card-image lazyload">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <button class="product__gallery-slider-arrow product__gallery-slider-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-left">
                                        <use xlink:href="#small-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="product__gallery-slider-arrow product__gallery-slider-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-small-arrow-right">
                                        <use xlink:href="#small-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="product__gallery-slider-thumbs">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/1.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/2.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/3.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/4.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/5.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/1.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/2.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/3.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/4.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="product__gallery-slider-thumbs-card">
                                                <img data-src="img/product-gallery/5.jpg" alt=""
                                                    class="product__gallery-slider-thumbs-card-image lazyload">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__info">
                        <h1 class="product__main-heading">
                            Салфетка ecotex 1 шт.
                        </h1>
                        <div class="product__specs">
                            <h3 class="product__specs-heading">
                                Характеристики
                            </h3>
                            <div class="product__specs-table">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Бренд
                                            </th>
                                            <td>
                                                Ecotex
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Материал
                                            </th>
                                            <td>
                                                80% полиэстер, 20% полиамид
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Размеры изделия
                                            </th>
                                            <td>
                                                30х30 см
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Вес 1 изделия без упаковки
                                            </th>
                                            <td>
                                                19,8 гр
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Плотность изделия
                                            </th>
                                            <td>
                                                220 гр/м2
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Количество штук в упаковке
                                            </th>
                                            <td>
                                                1 шт.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="product__colors">
                            <h3 class="product__colors-heading">
                                Цвета
                            </h3>
                            <ul class="product__colors-list">
                                <li class="product__colors-list-item">
                                    <a href="#" class="product__colors-link active" style="--product-color: #36DC5E">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="product__colors-list-item">
                                    <a href="#" class="product__colors-link" style="--product-color: #FFFCAB">

                                    </a>
                                </li>
                                <li class="product__colors-list-item">
                                    <a href="#" class="product__colors-link" style="--product-color: #FFD8ED">

                                    </a>
                                </li>
                                <li class="product__colors-list-item">
                                    <a href="#" class="product__colors-link" style="--product-color: #A1E3FF">

                                    </a>
                                </li>
                                <li class="product__colors-list-item">
                                    <a href="#" class="product__colors-link" style="--product-color: #B09CFF">

                                    </a>
                                </li>
                                <li class="product__colors-list-item">
                                    <a href="#" class="product__colors-link" style="--product-color: #A1FFD4">

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product__advantages">
                    <ul class="product__advantages-list">
                        <li class="product__advantages-list-item">
                            <div class="product__advantages-card">
                                <div class="product__advantages-card-icon">
                                    <img src="img/product-advantages/1.svg" alt=""
                                        class="product__advantages-card-icon-image">
                                </div>
                                <div class="product__advantages-card-content">
                                    Для сухой и влажной уборки
                                </div>
                            </div>
                        </li>
                        <li class="product__advantages-list-item">
                            <div class="product__advantages-card">
                                <div class="product__advantages-card-icon">
                                    <img src="img/product-advantages/2.svg" alt=""
                                        class="product__advantages-card-icon-image">
                                </div>
                                <div class="product__advantages-card-content">
                                    Индивидуальный подход
                                </div>
                            </div>
                        </li>
                        <li class="product__advantages-list-item">
                            <div class="product__advantages-card">
                                <div class="product__advantages-card-icon">
                                    <img src="img/product-advantages/3.svg" alt=""
                                        class="product__advantages-card-icon-image">
                                </div>
                                <div class="product__advantages-card-content">
                                    Гарантия качества
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="product__main-info js-tabs">
                    <div class="product__main-info-tabs-nav">
                        <a href="#" class="product__main-info-tabs-nav-link js-tabs-btn active">
                            Общая информация
                        </a>
                        <a href="#" class="product__main-info-tabs-nav-link js-tabs-btn">
                            Характеристики
                        </a>
                    </div>
                    <div class="product__main-info-tabs-items">
                        <div class="product__main-info-tabs-item js-tabs-item active">
                            <div class="product__main-info-content">
                                <p>
                                    Салфетки из микрофибры в сухом виде притягивают к себе пыль, чистят и полируют
                                    поверхность, снимая при этом статическое электричество. При использовании в слегка
                                    увлажненном виде очищают сильные загрязнения и жировой налет. Отлично впитывают и
                                    удерживают влагу, легко отдают воду при отжатии. Не оставляют разводов и ворсинок,
                                    придают безупречный вид любой поверхности.
                                </p>
                                <p>
                                    Универсальная салфетка из 100% микрофибры предназначена для сухой и влажной уборки.
                                    Микроволокно служит в 10 раз дольше, чем хлопок. В состав материала входят волокна
                                    искусственных полимеров — полиэстераи полиамида.
                                </p>
                                <ul>
                                    <li>
                                        Впитывает в 7 раз больше влаги, чем собственный вес.

                                    </li>
                                    <li>
                                        Вритягивает мельчайшие частицы пыли, волосы домашних животных

                                    </li>
                                    <li>
                                        Идеально удаляет пыль, жир и другие загрязнения.

                                    </li>
                                    <li>
                                        Полирует и очищает стеклянные, хромированные поверхности и зеркала

                                    </li>
                                    <li>
                                        Не требует дополнительных чистящих и моющих химических средств
                                    </li>
                                </ul>

                                <ul class="special">
                                    <li>
                                        <img src="img/product-content-icons/1.svg" alt="">
                                        Легко стирается в стиральной машине и быстро сохнет.
                                    </li>
                                    <li>
                                        <img src="img/product-content-icons/2.svg" alt="">
                                        Обеспечивает бережное очищение без царапин, разводови ворсинок
                                    </li>
                                    <li>
                                        <img src="img/product-content-icons/3.svg" alt="">
                                        Имеет продолжительный срок службы и устойчивостьк повреждениям
                                    </li>
                                    <li>
                                        <img src="img/product-content-icons/4.svg" alt="">
                                        Не сохраняет запахи, гипоаллергенна
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__main-info-tabs-item js-tabs-item">
                            <div class="product__main-info-content">
                                <p>
                                    Салфетки из микрофибры в сухом виде притягивают к себе пыль, чистят и полируют
                                    поверхность, снимая при этом статическое электричество. При использовании в слегка
                                    увлажненном виде очищают сильные загрязнения и жировой налет. Отлично впитывают и
                                    удерживают влагу, легко отдают воду при отжатии. Не оставляют разводов и ворсинок,
                                    придают безупречный вид любой поверхности.
                                </p>
                                <p>
                                    Универсальная салфетка из 100% микрофибры предназначена для сухой и влажной уборки.
                                    Микроволокно служит в 10 раз дольше, чем хлопок. В состав материала входят волокна
                                    искусственных полимеров — полиэстераи полиамида.
                                </p>
                                <ul>
                                    <li>
                                        Впитывает в 7 раз больше влаги, чем собственный вес.

                                    </li>
                                    <li>
                                        Вритягивает мельчайшие частицы пыли, волосы домашних животных

                                    </li>
                                    <li>
                                        Идеально удаляет пыль, жир и другие загрязнения.

                                    </li>
                                    <li>
                                        Полирует и очищает стеклянные, хромированные поверхности и зеркала

                                    </li>
                                    <li>
                                        Не требует дополнительных чистящих и моющих химических средств
                                    </li>
                                </ul>

                                <ul class="special">
                                    <li>
                                        <img src="img/product-content-icons/1.svg" alt="">
                                        Легко стирается в стиральной машине и быстро сохнет.
                                    </li>
                                    <li>
                                        <img src="img/product-content-icons/2.svg" alt="">
                                        Обеспечивает бережное очищение без царапин, разводови ворсинок
                                    </li>
                                    <li>
                                        <img src="img/product-content-icons/3.svg" alt="">
                                        Имеет продолжительный срок службы и устойчивостьк повреждениям
                                    </li>
                                    <li>
                                        <img src="img/product-content-icons/4.svg" alt="">
                                        Не сохраняет запахи, гипоаллергенна
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="product__actions">
                <form action="/" method="POST" class="product__form" data-need-validation="" id="product-form">
                    <h3 class="product__form-heading">
                        Оформить заказ на пробную партию
                    </h3>
                    <div class="product__form-heading-text">
                        <p>
                            Заполните форму и наш специалист свяжется с вами в течение 5 минут
                        </p>
                    </div>
                    <div class="product__form-fields">
                        <div class="product__form-field">
                            <input type="text" name="your-name" class="product__form-input" required=""
                                placeholder="Ваше имя">
                        </div>
                        <div class="product__form-field">
                            <input type="tel" name="your-name" class="product__form-input js-phone-input" required=""
                                placeholder="Телефон" data-parsley-phone="">
                        </div>
                        <div class="product__form-field">
                            <input type="email" name="your-email" class="product__form-input" required=""
                                placeholder="Почта">
                        </div>
                        <div class="product__form-field">
                            <input type="text" name="your-city" class="product__form-input" required=""
                                placeholder="Город">
                        </div>
                        <div class="product__form-field product__form-field--fullwidth">
                            <input type="text" name="your-comment" class="product__form-input" placeholder="Коментарий">
                        </div>
                    </div>
                    <div class="product__form-controls">
                        <label class="product__form-checkbox">

                            <input type="checkbox" name="policy" class="product__form-checkbox-input" checked=""
                                required="">
                            <span class="product__form-checkbox-mark">

                            </span>
                            <span class="product__form-checkbox-text">
                                Я соглашаюсь с <a href="#">политикой конфиденциальности</a> и согласен на обработку
                                персональных данных
                            </span>
                        </label>
                        <button class="product__form-submit" type="submit">
                            Отправить
                        </button>
                    </div>
                    <div class="product__form-success">
                        <div class="product__form-success-ok">
                            <svg width="14" height="14" aria-hidden="true" class="icon-success-checkmark">
                                <use xlink:href="#success-checkmark"></use>
                            </svg>
                        </div>
                        <h4 class="product__form-success-heading">
                            Спасибо вам за заявку
                        </h4>
                        <div class="product__form-success-text">
                            <p>
                                Ваша заявка отправлена на обработку. Наш специалист свяжется с вами в течение 5 минут и обсудит детали заказа!
                            </p>
                        </div>
                    </div>
                </form>
                <div class="product__marketplace">
                    <h3 class="product__marketplace-heading">
                        Приобрести товар
                    </h3>
                    <div class="product__marketplace-text">
                        <p>
                            Мы сотрудничаем с интернет-магазинами. Наши товары вы всегда можете быстро и удобно
                            приобрести
                            через
                        </p>
                    </div>
                    <div class="product__marketplace-links">
                        <a href="#" class="product__marketplace-link">
                            <img src="img/wildberries.svg" alt=""
                                class="product__marketplace-link-image product__marketplace-link-image--wb">
                            <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                <use xlink:href="#simple-arrow-right"></use>
                            </svg>
                        </a>
                        <a href="#" class="product__marketplace-link">
                            <img src="img/ozon.svg" alt="" class="product__marketplace-link-image">
                            <svg width="14" height="14" aria-hidden="true" class="icon-simple-arrow-right">
                                <use xlink:href="#simple-arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



<section class="similar-products js-similar-products">
    <div class="container">
        <div class="similar-products__top-row">
            <h2 class="similar-products__heading">
                Похожие товары
            </h2>
            <div class="similar-products__arrows">
                <button class="similar-products__arrow similar-products__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                        <use xlink:href="#products-slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="similar-products__arrow similar-products__arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                        <use xlink:href="#products-slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="similar-products__slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="similar-products__slider-card">
                            <div class="similar-products__slider-card-category"
                                style="--category-bg-color: #C3FFC1; --category-color:  #4FCC4D;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-smile">
                                    <use xlink:href="#smile"></use>
                                </svg>
                                Эконом
                            </div>
                            <div class="similar-products__slider-card-image-container">
                                <img data-src="img/similar-products/1.png" alt=""
                                    class="similar-products__slider-card-image lazyload">
                            </div>

                            <h4 class="similar-products__slider-card-title">
                                Салфетка ecotex

                            </h4>
                            <div
                                class="similar-products__slider-card-quantity similar-products__slider-card-quantity--orange">
                                1 шт
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="similar-products__slider-card">
                            <div class="similar-products__slider-card-category"
                                style="--category-bg-color: #FFEAC1; --category-color:#FFA14A;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-ok">
                                    <use xlink:href="#ok"></use>
                                </svg>
                                Стандарт
                            </div>
                            <div class="similar-products__slider-card-image-container">
                                <img data-src="img/similar-products/2.png" alt=""
                                    class="similar-products__slider-card-image lazyload">
                            </div>

                            <h4 class="similar-products__slider-card-title">
                                Набор салфеток ecotex

                            </h4>
                            <div
                                class="similar-products__slider-card-quantity similar-products__slider-card-quantity--blue">
                                2, 3 шт
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="similar-products__slider-card">
                            <div class="similar-products__slider-card-category"
                                style="--category-bg-color: #E3D2FF; --category-color:#7864F0;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-crown">
                                    <use xlink:href="#crown"></use>
                                </svg>
                                премиум
                            </div>
                            <div class="similar-products__slider-card-image-container">
                                <img data-src="img/similar-products/3.png" alt=""
                                    class="similar-products__slider-card-image lazyload">
                            </div>

                            <h4 class="similar-products__slider-card-title">
                                Набор салфеток ecotex

                            </h4>
                            <div class="similar-products__slider-card-quantity">
                                4, 6, 8 шт
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="similar-products__slider-card">
                            <div class="similar-products__slider-card-category"
                                style="--category-bg-color: #C3FFC1; --category-color:  #4FCC4D;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-smile">
                                    <use xlink:href="#smile"></use>
                                </svg>
                                Эконом
                            </div>
                            <div class="similar-products__slider-card-image-container">
                                <img data-src="img/similar-products/4.png" alt=""
                                    class="similar-products__slider-card-image lazyload">
                            </div>

                            <h4 class="similar-products__slider-card-title">
                                Салфетка ecotex

                            </h4>
                            <div
                                class="similar-products__slider-card-quantity similar-products__slider-card-quantity--orange">
                                1 шт
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="similar-products__slider-card">
                            <div class="similar-products__slider-card-category"
                                style="--category-bg-color: #FFEAC1; --category-color:#FFA14A;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-ok">
                                    <use xlink:href="#ok"></use>
                                </svg>
                                Стандарт
                            </div>
                            <div class="similar-products__slider-card-image-container">
                                <img data-src="img/similar-products/5.png" alt=""
                                    class="similar-products__slider-card-image lazyload">
                            </div>

                            <h4 class="similar-products__slider-card-title">
                                Набор салфеток ecotex

                            </h4>
                            <div
                                class="similar-products__slider-card-quantity similar-products__slider-card-quantity--blue">
                                2, 3 шт
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="similar-products__slider-card">
                            <div class="similar-products__slider-card-category"
                                style="--category-bg-color: #E3D2FF; --category-color:#7864F0;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-crown">
                                    <use xlink:href="#crown"></use>
                                </svg>
                                премиум
                            </div>
                            <div class="similar-products__slider-card-image-container">
                                <img data-src="img/similar-products/1.png" alt=""
                                    class="similar-products__slider-card-image lazyload">
                            </div>

                            <h4 class="similar-products__slider-card-title">
                                Набор салфеток ecotex

                            </h4>
                            <div class="similar-products__slider-card-quantity">
                                4, 6, 8 шт
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}