{{#extend "layout"}}
{{#content "main"}}


<section class="search">
    <div class="container">
        <div class="search__grid">
            <div class="search__inner">
                <form action="/" method="GET" class="search__form">
                    <input type="search" class="search__form-input" placeholder="Поиск по сайту" value="Микрофибра">
                    <button class="search__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-large-search">
                            <use xlink:href="#large-search"></use>
                        </svg>
                    </button>
                    <button class="search__form-clear">
                        <svg width="14" height="14" aria-hidden="true" class="icon-close-search">
                            <use xlink:href="#close-search"></use>
                        </svg>
                    </button>
                </form>
                <div class="search__results-found">
                    Найдено 200 результатов
                </div>
                <div class="search__results-categories">
                    <div class="search__results-categories-inner">


                        <ul class="search__results-categories-list">
                            <li class="search__results-categories-list-item">
                                <a href="#" class="search__results-categories-link active">
                                    Все
                                </a>
                            </li>
                            <li class="search__results-categories-list-item">
                                <a href="#" class="search__results-categories-link">
                                    О компании
                                </a>
                            </li>
                            <li class="search__results-categories-list-item">
                                <a href="#" class="search__results-categories-link">
                                    Пресс-центр
                                </a>
                            </li>
                            <li class="search__results-categories-list-item">
                                <a href="#" class="search__results-categories-link">
                                    Производство
                                </a>
                            </li>
                            <li class="search__results-categories-list-item">
                                <a href="#" class="search__results-categories-link">
                                    Фото и видео
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="search__results-list">
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <div class="search__results-card-category">
                                Пресс-центр
                            </div>
                            <h3 class="search__results-card-title">
                                BICOTEX на 10 международной выставке текстильных материалов “Интерткань-2021. Осень”
                            </h3>
                            <div class="search__results-card-text">
                                <p>
                                    На нашем стенде: F07, 2-ой павильон, 1 зал, мы покажем образцы продукции, расскажем
                                    о новых возможностях и мощностях нашего завода по производству <em>микрофибры</em>,
                                    а также в живом общении ответим на все интересующие вас вопросы.
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="catalog__pagination">
                    <a href="#" class="catalog__pagination-prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-prev">
                            <use xlink:href="#pagination-prev"></use>
                        </svg>
                    </a>
                    <div class="catalog__pagination-links">
                        <a href="#" class="catalog__pagination-link active">
                            1
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            2
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            3
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            4
                        </a>
                        <a href="#" class="catalog__pagination-link">
                            5
                        </a>
                    </div>
                    <a href="#" class="catalog__pagination-next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-pagination-next">
                            <use xlink:href="#pagination-next"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}