.catalog-header {
    position: relative;
    z-index: 1;
    color: white;
}

.catalog-header__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
}

.catalog-header__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-header__grid {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 3.2rem;
        padding-bottom: 9.6rem;
        padding-top: 16rem;
    }
}

.catalog-header__grid-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2/12;
    }
}

.catalog-header__breadcrumbs {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #dae0e3;

    a {
        &:hover {
            color: white;
        }
    }
}

.catalog-header__main-heading {
    font-weight: 500;
    font-size: 7.5rem;
    line-height: 109%;
    letter-spacing: 0.02em;
}
