.ceo {
    padding-top: 12rem;
    padding-bottom: 12rem;
    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.ceo__content {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 3.2rem;
    }
}

.ceo__content-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2/12;
    }
}

.ceo__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    align-items: center;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.ceo__col {
    display: flex;
    flex-direction: column;
}

.ceo__quote-heading {
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 3.1rem;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.ceo__quote {
    padding-left: 4.4rem;
    padding-right: 9rem;

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.ceo__quote-text,
.ceo__quote-text-hidden {
    font-size: 1.8rem;
    line-height: 2.4rem;
    

    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
       
    }
}

.ceo__quote-text-hidden {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        margin-bottom: 1.7rem;
    }
}


.ceo__quote-text-hidden {
    height: 0;
    overflow: hidden;
}

.ceo__quote-text-hidden-inner {
    
}

.ceo__quote-link {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #244a9a;

    span:nth-child(2) {
        display: none;
    }

    .ceo__quote-accordion.active & {
        span:nth-child(1) {
            display: none;
        }
        span:nth-child(2) {
            display: inline;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    &:link,
    &:visited {
        color: #244a9a;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.ceo__quotes-icon {
    width: 9.6rem;
    height: 8.8rem;
    flex-shrink: 0;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
    }
}

.ceo__info {
    display: flex;
    flex-direction: column;

    @include breakpointMF(small-tablet) {
        align-self: center;
        justify-self: center;
    }
}

.ceo__image-block {
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        height: 150%;
        z-index: -1;
        border: 1px solid #f7d3bf;
        border-radius: 50%;
        pointer-events: none;
        position: absolute;

        @include breakpoint(mobile) {
            width: 120%;
            height: 120%;

            display: none;
        }
    }
}

.ceo__image-container {
    width: 51.2rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        width: 70%;
        margin: 0 auto;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.ceo__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ceo__main-info {
    text-align: center;
    position: relative;
    z-index: 5;
    margin-top: 3.5rem;

    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}

.ceo__name {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;

    margin-bottom: 0.6rem;
}

.ceo__role {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--primary-color);
    margin-top: 0.6rem;
}
