.events {
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.events__content {
    padding-left: var(--side-width);
   
}

.events__top-row {
    margin-bottom: 5rem;
    display: flex;
    align-items: flex-end;
}

.events__heading-block {
    width: 50%;
    flex-grow: 1;
}

.events__heading {
    margin-bottom: 2rem;
}

.events__all-events {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    svg {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
        fill: currentColor;
        margin-left: 1rem;
    }
}

.events__slider-card {
    position: relative;
    display: flex;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    z-index: 1;

    &::before {
        content: '';
        flex-shrink: 0;
        padding-bottom: 65%;
        width: 1px;
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
        .events__slider-card-image {
            height: 100%;
        }

        .events__slider-card-image-container::before {
            height: 0%;
        }

        .events__slider-card-image-container::after {
            opacity: 1;
        }

        .events__slider-card-show {
            opacity: 1;
            visibility: inherit;
            transition: opacity .2s, visibility .2s;
        }
    }
}

.events__slider-card-content {
    display: flex;
    flex-direction: column;
    padding: 2.8rem 3.4rem;
}

.events__slider-card-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background-color: #fff;
        transition: height 0.3s;
        z-index: 5;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
        transition: opacity 0.3s;
        opacity: 0;
    }
}

.events__slider-card-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: height .3s;
}

.events__slider-card-heading {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 2rem;
}

.events__slider-card-show {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    line-height: 135%;
    letter-spacing: 0.02em;
    margin-top: auto;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s linear .3s;

    &:link,
    &:visited {
        color: white;
    }
    svg {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
        fill: currentColor;
        margin-left: 1rem;
    }
}

.events__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 39rem;
    }
}
