.events {
    padding-top: 12rem;
    padding-bottom: 12rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.events__content {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 3.2rem;
    }
}

.events__content-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2 / 12;
    }
}

.events__top-row {
    margin-bottom: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.events__heading {
    margin-bottom: 7rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.events__all-events {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #244a9a;
    &:link,
    &:visited {
        color: #244a9a;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.events__slider-card {
    position: relative;
    display: flex;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 0.8rem;
    z-index: 1;

    &::before {
        content: '';
        flex-shrink: 0;
        padding-bottom: 100%;
        width: 1px;
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
        .events__slider-card-image {
            height: 100%;
        }

        .events__slider-card-image-container::before {
            transform: scaleY(0);
        }

        .events__slider-card-image-container::after {
            opacity: 1;
        }

        .events__slider-card-show {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.2s, visibility 0.2s;
        }
    }
}

.events__slider-card-content {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;

    @include breakpoint(mobile) {
        padding: 1.8rem;
    }
}

.events__slider-card-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: transform 0.3s;
        transform-origin: center top;
        transform: scaleY(0.6);
        z-index: 5;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
        transition: opacity 0.3s;
        opacity: 0;
    }
}

.events__slider-card-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: height 0.3s;
}

.events__slider-card-heading {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
    margin-bottom: 2rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.events__slider-card-show {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: auto;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    &:link,
    &:visited {
        color: white;
    }
    svg {
        flex-shrink: 0;
        width: 1.2rem;
        height: 1.2rem;
        fill: currentColor;
        margin-left: 0.8rem;
    }
}

.events__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 35.2rem;

        @include breakpoint(mobile) {
            width: 28rem;
        }
    }
}
