.intro {
    padding-top: 24rem;
    padding-bottom: 12rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
        padding-top: 8rem;
    }
}

.intro__content {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 3.2rem;
    }
}

.intro__content-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2/12;
    }
}

.intro__row {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        grid-gap: 3.2rem;
        align-items: center;
    }

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
    }
}

.intro__col {
    display: flex;
    flex-direction: column;
}

.intro__col:nth-child(1) {
    @include breakpointMF(small-tablet) {
        grid-column: span 6;
    }
}
.intro__col:nth-child(2) {
    @include breakpointMF(small-tablet) {
        grid-column: span 4;
    }
}

.intro__main-heading {
    margin-bottom: 14rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);

    .animatable & {
        opacity: 1;
        visibility: inherit;
        transform: translateY(0);
        transition: all 0.7s ease;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.intro__drop {
    opacity: 0;
    visibility: hidden;
    position: relative;

    .animatable & {
        opacity: 1;
        visibility: inherit;

        transition: all 0.7s ease;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
    @include breakpointMF(small-tablet) {
        left: 10rem;
    }
}

.intro__video-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.intro__video-large-shape {
    width: 252rem;
    height: 252rem;
    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__video-medium-shape {
    width: 138.1rem;
    height: 137.8rem;
    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__video-small-shape {
    width: 57.6rem;
    height: 57.6rem;
    @include breakpoint(mobile) {
        width: 120%;
        height: 120%;
    }
}

.intro__drop-link {
    display: block;
    border-radius: 0 30rem 30rem 30rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    position: relative;
    z-index: 40;
    color: var(--primary-color);
    &:link,
    &:visited {
        color: var(--primary-color);
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.intro__drop-link-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #244a9a;
}

.intro__drop-link-image {
    position: absolute;
    width: 18rem;
    height: auto;
    left: 4rem;
    top: 4rem;
    opacity: 0.65;
    object-fit: contain;

    @include breakpoint(mobile) {
    }
}

.intro__numbers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;

    @include breakpoint(mobile) {
        gap: 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.intro__numbers-list-item {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    .animatable & {
        opacity: 1;
        visibility: inherit;

        transition: all 0.7s ease 0.4s;
        transform: translateY(0);

        &:nth-child(2) {
            transition: all 0.7s ease 0.8s;
        }
        &:nth-child(3) {
            transition: all 0.7s ease 1.2s;
        }
    }
}

.intro__card-amount {
    font-weight: bold;
    font-size: 4rem;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #244a9a;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 0.4rem;
    }
}

.intro__card-text {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    color: #17181a;
}

.intro__drop-link-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    svg {
        width: 4.5rem;
        height: 5rem;
        flex-shrink: 0;
        margin-bottom: 4rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            width: 3rem;
            height: 3rem;
            margin-bottom: 2rem;
        }
    }
}
