.learn-about {
    margin-bottom: 14rem;
}

.learn-about__card {
    position: relative;
    z-index: 10;
    min-height: 59rem;
    color: white;
    border-radius: 21rem 28rem 28rem 0px;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    display: flex;
    flex-direction: column;
    padding: 0 5.2rem;
    padding-top: 6rem;
}

.learn-about__card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learn-about__card-bottom-panel {
    padding: 4rem 0;
    font-weight: 500;
    font-size: 6.8rem;
    line-height: 110%;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
    border-top: 1px solid #ffffff;

    .no-touch &:hover {
        svg {
            transform: translateX(.8rem);
        }
    }
    svg {
        flex-shrink: 0;
        width: 6rem;
        height: 5rem;
        fill: white;
        margin-left: 5rem;
        margin-top: 0.4rem;
        transition: transform .3s;
    }
}

.learn-about__card-bg {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img,
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(3, 13, 18, 0) 54.99%, rgba(3, 13, 18, 0.5) 100%);
    }
}

.learn-about__card-title {
    font-weight: 500;
    font-size: 5rem;
    line-height: 105%;
    letter-spacing: 0.02em;
    max-width: 100rem;
   
}
