.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 400;
    background: rgba(black, 0.6);
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &:not(.active) {
        right: calc(-1 * var(--sb-width, 0));
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.modal__inner {
    width: 100%;
    background-color: #fff;
    margin: auto;
    background: #ffffff;
    border-radius: 1rem;
    max-width: 107.8rem;
    padding: 8.5rem;
    padding-top: 5.6rem;
    color: #464646;
    position: relative;

    &--callback {
        max-width: 62rem;
    }

    @include breakpoint(mobile) {
        padding: 2rem;
    }
}

.modal__close {
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    z-index: 10;
    right: 1.8rem;
    top: 1.8rem;

    @include breakpoint(mobile) {
        width: 3.5rem;
        height: 3.5rem;
        right: 1rem;
        top: 1rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        display: block;
        fill: #dae0e3;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.modal__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 105%;
    letter-spacing: 0.02em;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
        padding-right: 3rem;
    }
}

.modal__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
        grid-template-columns: minmax(0, 1fr);
    }
}

.modal__card {
    padding: 3.8rem 4.5rem;
    padding-bottom: 5.7rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #dae0e3;
    border-radius: 1rem;
    transition: border-color 0.2s;

    @include breakpoint(mobile) {
        padding: 2rem;
    }

    .no-touch &:hover {
        border-color: #244a9a;
    }
}

.modal__card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.4rem;
    letter-spacing: 0.02em;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
    }
}

.modal__card-text {
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: 0.02em;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modal__card-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @include breakpoint(mobile) {
        gap: 1rem;
    }
}

.modal__card-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 2.4rem;
    border: 2px solid #dae0e3;
    border-radius: 6rem;
    flex-shrink: 0;
    margin-top: auto;
    transition: border-color 0.2s;

    .no-touch &:hover,
    .touch &:active {
        border-color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        padding: 1rem 1.4rem;
        border-radius: 4rem;
    }
}

.modal__card-icon {
    height: 2.2rem;
    width: auto;
    max-width: none;
    object-fit: contain;

    @include breakpoint(mobile) {
        height: 1.4rem;
    }
}

.modal__catalog-link {
    margin-top: auto;
    margin-bottom: 0.7rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    padding: 0.7rem 1.5rem;
    border: 2px solid #b5b5b5;
    color: #b5b5b5;
    border-radius: 2rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    flex-shrink: 0;
    align-self: flex-start;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    &:link,
    &:visited {
        color: #b5b5b5;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: white;
    }
}
.modal__form {
    .parsley-errors-list.filled {
        margin-top: 1rem;
        color: var(--primary-color);
        font-size: 1.4rem;

        @include breakpoint(mobile) {
            font-size: 1.2rem;
        }
    }
}

.modal__form-fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 3rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
        margin-bottom: 4rem;
    }
}

.modal__form-input {
    height: 5.4rem;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #7b7a78;
    color: #7b7a78;
    transition: border-color 0.2s;

    @include breakpoint(mobile) {
        height: 4rem;
        font-size: 1.6rem;
    }

    &.parsley-error {
        border-color: var(--primary-color);
    }

    @include placeholder {
        color: #7b7a78;
    }
}

.modal__form-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;
    cursor: pointer;
    user-select: none;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.modal__form-checkbox-input {
    display: none;
}

.modal__form-checkbox-mark {
    flex-shrink: 0;
    margin-right: 1.2rem;
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid #ff772b;
    border-radius: 0.3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -0.35rem;

    @include breakpoint(mobile) {
        width: 2rem;
        height: 2rem;
        border: 0.2rem solid #ff772b;
        border-radius: 0.2rem;
        margin-top: -0.3rem;
    }
    &::after {
        content: '';
        width: 1.3rem;
        height: 1.3rem;
        background-color: var(--primary-color);
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s;

        @include breakpoint(mobile) {
            width: 0.9rem;
            height: 0.9rem;
        }
    }
}

.modal__form-checkbox-text {
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    color: #464646;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.modal__form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.7rem 4rem;
    color: white;
    background-color: var(--primary-color);
    background: #ff772b;
    border-radius: 9rem;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.02em;
    align-self: center;
    width: 100%;
    width: 100%;
    display: flex;
    @include breakpoint(mobile) {
        padding: 1.8rem 3rem;
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.modal__form-checkbox-input:checked ~ .modal__form-checkbox-mark {
    &::after {
        opacity: 1;
    }
}

.modal__heading-text {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 0.02em;
    color: #464646;
    margin-bottom: 3rem;
    margin-top: -2rem;

    @include breakpoint(mobile) {
        margin-top: 0;
        font-size: 1.6rem;
        line-height: 1.2;
        margin-top: -1rem;
        margin-bottom: 2rem;
    }
}
