.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 80;
    transition: background-color .2s;


    &.fixed {
        background-color: white;
    }
}

.page-header__row {
    padding: 3rem 0;

    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        align-items: center;
    }

    @include breakpoint(mobile) {
        padding: 1.8rem 0;
        display: flex;
        align-items: center;
    }
}

.page-header__languages {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    @include breakpoint(mobile) {
        order: 2;

        display: none;
    }
}

.page-header__languages-link {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(#464646, 0.4);

    &:link,
    &:visited {
        color: rgba(#464646, 0.4);
    }

    .no-touch &:hover,
    .touch &:active {
        color: #464646;
    }

    &.active {
        color: #464646;
    }
}

.page-header__main-content {
    display: flex;
    align-items: center;

    @include breakpointMF(small-tablet) {
        grid-column: 2 / -1;
    }
}

.page-header__logo-link {
    flex-shrink: 0;
    margin-right: 5rem;

    @include breakpoint(mobile) {
        margin-right: 2rem;
        position: relative;
        z-index: 200;
    }
}

.page-header__logo-image {
    width: 15.5rem;
    height: auto;

    @include breakpoint(mobile) {
        width: 10rem;
    }
}

.page-header__menu {
    @include breakpointMF(small-tablet) {
        display: flex;
        align-items: center;
        width: 50%;
        flex-grow: 1;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 150;
        background-color: #fff;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        padding: 0 var(--content-padding);
        padding-top: 7rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
    }
}

.page-header__nav {
    margin-right: 3.5rem;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 3rem;
    }
}

.page-header__nav-list {
    display: flex;
    align-items: center;
    gap: 3.4rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}

.page-header__nav-link {
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 0.02em;

    line-height: 130%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-header__search-link {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    margin-right: 2rem;

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.page-header__contact-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        margin-bottom: 3rem;
    }
}

.page-header__phone-link,
.page-header__mail-link {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: rgba(#ff772b, 0.2);
        transition: opacity .2s, background-color .2s;
        opacity: 0;
    }

    &--underline {
        &::before {
            opacity: 1;
        }
    }

    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            opacity: 1;
            background-color: #ff772b;
        }
    }
}

.page-header__contact-link {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    border: 0.3rem solid var(--primary-color);
    border-radius: 2rem;
    justify-self: flex-end;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        border: 0.2rem solid var(--primary-color);
        text-align: center;
        align-self: flex-start;
        font-size: 1.6rem;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        color: white;
    }
}
