.page-footer {
    background: #244a9a;
    color: white;
}

.page-footer__content {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 3.2rem;
    }
}

.page-footer__content-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2/12;
    }
}

.page-footer__top-row {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;
    padding-top: 8rem;
    padding-bottom: 4rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        padding: 3rem 0;
    }
}

.page-footer__nav {
    @include breakpointMF(small-tablet) {
        grid-column: span 4;
    }

    & > ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 2rem;

        @include breakpoint(mobile) {
            grid-template-columns: minmax(0, 1fr);
            grid-gap: 2rem;
        }

        & > li {
            display: flex;
            flex-direction: column;

            & > a {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: white;

                &:link,
                &:visited {
                    color: white;
                }
            }

            & > ul {
                margin-top: 1.2rem;

                & > li {
                    margin-bottom: 1.2rem;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    & > a {
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        color: rgba(white, 0.6);

                        &:link,
                        &:visited {
                            color: rgba(white, 0.6);
                        }

                        &:hover {
                            color: rgba(white, 0.9);
                        }
                    }
                }
            }
        }
    }
}

.page-footer__info {
    grid-column: span 1;
}

.page-footer__selected-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2.4rem;
}

.page-footer__selected-link {
    margin-bottom: 1.2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: white;
    &:link,
    &:visited {
        color: white;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__social-list {
    display: flex;
    flex-direction: column;
}

.page-footer__social-list-item {
    margin-bottom: 1.2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__social-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.6rem;

    svg {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
        fill: currentColor;
    }
}

.page-footer__bottom-row {
    padding: 4rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(white, 0.6);
    border-top: 1px solid rgba(white, 0.6);

    @include breakpoint(mobile) {
        padding: 2rem 0;
    }
}
