.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 80;
}

.page-header__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 3rem 0;
    align-items: center;
}

.page-header__languages {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.page-header__languages-link {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(#464646, 0.4);

    &:link,
    &:visited {
        color: rgba(#464646, 0.4);
    }

    .no-touch &:hover,
    .touch &:active {
        color: #464646;
    }

    &.active {
        color: #464646;
    }
}

.page-header__main-content {
    display: flex;
    align-items: center;
    grid-column: 2 / -1;
}

.page-header__logo-link {
    flex-shrink: 0;
    margin-right: 5rem;
}

.page-header__logo-image {
    width: 15.5rem;
    height: auto;
}

.page-header__menu {
    display: flex;
    align-items: center;
    width: 50%;
    flex-grow: 1;
}

.page-header__nav {
    margin-right: 3.5rem;
}

.page-header__nav-list {
    display: flex;
    align-items: center;
    gap: 3.4rem;
}

.page-header__nav-link {
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 0.02em;

    line-height: 130%;

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-header__search-link {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    margin-right: 2rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.page-header__contact-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 4rem;
}

.page-header__phone-link,
.page-header__mail-link {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    position: relative;

    &--underline {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: rgba(#ff772b, 0.2);
        }
    }

    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.page-header__contact-link {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 2rem;
    justify-self: flex-end;
    transition: background-color 0.2s, color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        color: white;
    }
}
