.production {
    padding-top: 20rem;
    padding-bottom: 12rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }

    .container {
        position: relative;

        z-index: 1;
    }
}

.production__figure {
    position: absolute;
    width: 124.8rem;
    height: 124.8rem;
    right: -1rem;
    top: 50%;
    margin-top: -5rem;
    z-index: -1;
    transform: translateY(-50%);

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.production__figure-text {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--primary-color);
    position: absolute;
    transform: translateY(50%);
    max-width: 21rem;
    position: absolute;
    left: 17rem;
    bottom: 22rem;
}

.production__content {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 3.2rem;
    }
}

.production__content-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2 / 12;
    }
}

.production__heading {
    margin-bottom: 7.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.production__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 9.6rem;
    grid-row-gap: 4.5rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.production__list-item {
    display: flex;
    flex-direction: column;
}

.production__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    position: relative;
    background: #ffffff;
    border-radius: 0.8rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    padding-bottom: 22rem;
    color: #464646;

    

    &:link,
    &:visited {
        color: #464646;
    }

    @include breakpoint(mobile) {
        margin-bottom: 17rem;
    }
}

.production__card-title {
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 3.2rem;
    color: #244a9a;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
        line-height: 1.2;
    }

    svg {
        width: 2rem;
        height: 1.6rem;
        fill: currentColor;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0.7rem;
        margin-left: 0.3rem;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.2rem;
            margin-bottom: 0.4rem;
            margin-left: 0.2rem;
        }
    }
}

.production__card-text {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #464646;
}

.production__card-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
}
