.production-page {
    padding-top: 16rem;
    padding-bottom: 12rem;

    @include breakpoint(mobile) {
        padding: 7rem 0;
    }
}

.production-page__intro {
    margin-bottom: 7rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.production-page__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 3.2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.production-page__grid-inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2 / 12;
    }
}

.production-page__breadcrumbs {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #c5c5c5;
    a {
        .no-touch &:not(.active):hover,
        .touch &:not(.active):active {
            color: var(--primary-color);
        }

        &.active {
            cursor: default;
            pointer-events: none;
        }
    }
}

.production-page__main-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 7.5rem;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #464646;

    @include breakpoint(mobile) {
        font-size: 2.8rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.production-page__image-block {
    // border-radius: 1rem;
    // overflow: hidden;
    // backface-visibility: hidden;
    // transform: translateZ(0);
    color: white;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.production-page__image-block-bg {
    position: absolute;
    left: calc(-1 * (100vw - 100% - var(--sb-width)) / 2);
    right: calc(-1 * (100vw - 100% - var(--sb-width)) / 2);
    top: 0;
    bottom: 0;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37));
    }
}

.production-page__image-block-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.production-page__image-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 0;
    min-height: 60rem;

    @include breakpoint(mobile) {
        min-height: auto;
        padding: 5rem 0rem;
    }
}

.production-page__image-block-title {
    font-weight: 500;
    font-size: 11rem;
    line-height: 12.7rem;
    letter-spacing: 0.02em;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 1.2;
    }
}

.production-page__image-block-text {
    font-weight: 500;
    font-size: 5rem;
    line-height: 5.8rem;
    letter-spacing: 0.02em;
    max-width: 100rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.production__page-quality-control {
    margin-top: 14rem;

    @include breakpoint(mobile) {
    }
}

.production__page-quality-control-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 6.8rem;
    line-height: 7.9rem;
    letter-spacing: 0.02em;
    color: #464646;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.production__page-quality-control-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.production__page-quality-control-list-item {
    display: flex;
    flex-direction: column;
}

.production__page-quality-control-card {
    flex-grow: 1;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    display: flex;
    color: white;

    &:link,
    &:visited {
        color: white;
    }
    &::before {
        content: '';
        width: 1px;
        padding-bottom: 65%;
        flex-shrink: 0;
    }
}

.production__page-quality-control-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem 5rem;

    @include breakpoint(mobile) {
        padding: 2rem;
    }
}

.production__page-quality-control-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #464646;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 15.76%, rgba(0, 0, 0, 0) 41.7%),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
}

.production__page-quality-control-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.production__page-quality-control-card-heading {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
       
    }
}

.production__page-quality-control-card-text {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    max-width: 43rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.production-page__equipment {
    margin-bottom: 2rem;
    margin-top: -29rem;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 6rem;
        margin-top: -12rem;
    }
}

.production-page__stages {
    margin-bottom: 14rem;

    @include breakpoint(mobile) {
        margin-bottom: 7rem;
    }
}

.production-page__stages-list-item {
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.production-page__stages-card {
    display: flex;
    align-items: flex-start;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: stretch;
        grid-template-areas: 'number title' 'content content' 'video video';
        grid-gap: 2rem;
    }
}

.production-page__stages-card-number {
    width: 14.5rem;
    margin-right: 4rem;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 14rem;
    line-height: 1;
    color: var(--primary-color);
    margin-top: -1rem;

    @include breakpoint(mobile) {
        width: auto;
        font-size: 5rem;
        margin: 0;
        grid-area: number;
    }
}

.production-page__stages-card-content {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        display: contents;
    }
}

.production-page__stages-card-title {
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 3.2rem;
    color: #17181a;
    margin-bottom: 1.3rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin: 0;
        grid-area: title;
        align-self: center;
    }
}

.production-page__stages-card-text {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #17181a;
    max-width: 62rem;

    @include breakpoint(mobile) {
        max-width: none;
        font-size: 1.6rem;
        line-height: 1.2;
        grid-area: content;
    }
}

.production-page__stages-card-video {
    flex-shrink: 0;
    margin-left: 5rem;
    position: relative;

    @include breakpoint(mobile) {
        grid-area: video;
        margin: 0;
    }
    // z-index: 1;

    @include breakpointMF(small-tablet) {
        .production-page__stages-list-item:nth-child(1) &,
        .production-page__stages-list-item:nth-child(6n) & {
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 34rem;
                height: 34rem;
                border: 1px solid #f7d3bf;
                z-index: -1;
                pointer-events: none;
                border-radius: 50%;
            }
        }

        .production-page__stages-list-item:nth-child(4n) & {
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 42rem;
                height: 42rem;
                border: 1px solid #f7d3bf;
                z-index: -1;
                pointer-events: none;
                border-radius: 50%;
            }

            &::after {
                width: 87rem;
                height: 87rem;
            }
        }
    }
}

.production-page__stages-card-video-link {
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        max-width: 25rem;
        margin: 0 auto;
    }
}

.production-page__stages-card-video-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.production-page__stages-card-video-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.production-page__stages-card-video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    svg {
        flex-shrink: 0;
        fill: white;
        width: 4.5rem;
        height: 4.5rem;
        margin-bottom: 1.5rem;

       
    }
}

.production-page__stages-card-video-content-text {
    font-weight: 500;
    color: white;
    font-size: 1.8rem;
    line-height: 109%;
    text-align: center;
    letter-spacing: 0.02em;
    width: min-content;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.production-page__equipment-card {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-gap: 3.2rem;
    align-items: center;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
        align-items: stretch;
    }
}

.production-page__equipment-card-icon {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    position: relative;

    @include breakpoint(mobile) {
        grid-row: initial;
        grid-column: 1 / -1;
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.production-page__equipment-card-icon-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: -3rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.production-page__equipment-card-content {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    grid-column: 5 / -1;
    grid-row: 1 / 2;
    max-width: 70rem;

    @include breakpoint(mobile) {
        grid-row: initial;
        grid-column: 1 / -1;
        font-size: 1.8rem;
        line-height: 1.2;
    }
}
