.quote {
    margin-bottom: 19rem;
}

.quote__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    grid-template-rows: auto 1fr;
}

.quote__text-content {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-gap: 2rem;
    border: 2px solid #ff772b;
    border-radius: 0px 37.4rem 37.4rem 19.8rem;
    padding: 11rem 0;
    background-image: url('../img/quotes.svg');
    background-repeat: no-repeat;
    background-position: left 2.5rem top 2.5rem;
    background-size: 3.6rem 2.8rem;
}

.quote__text {
    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

}

.quote__text-hidden {
    height: 0;
    overflow: hidden;
}

.quote__author {
    grid-column: 2 / 9;
    grid-row: 2 / 3;
 
    // align-self: center;
}

.quote__author-name {
    font-weight: 500;
    font-size: 3rem;
    line-height: 5.6rem;
    letter-spacing: 0.02em;
    padding-top: 2rem;
}

.quote__author-role {
    font-size: 2rem;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.quote__image-wrapper {
    grid-column: 7 / 12;
    grid-row: 1 / 3;
    
  
}

.quote__image-container {
    position: relative;
    max-width: 63rem;
    margin-top: 6.5rem;
    border-radius: 1rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    img, video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        height: auto;
        display: block;  
    }
    &::before {
        content: '';
        padding-bottom: 125%;
        display: block;

    }
}



.quote__text-content-inner {
    grid-column: 2 / 6;
}

.quote__heading {
    font-weight: 500;
    font-size: 5rem;
    line-height: 5.2rem;
    letter-spacing: 0.02em;
    margin-bottom: 3.5rem;
    color: var(--primary-color);
}

.quote__text {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.02em;
    margin-bottom: 0.8rem;
}

.quote__read-more {
    font-size: 2rem;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    &:link,
    &:visited {
        color: var(--primary-color);
    }
}
