.single-news {
    padding-top: 16rem;
    margin-bottom: 13rem;
    @include breakpoint(mobile) {
        padding-top: 7rem;
        margin-bottom: 7rem;
    }
}

.single-news__grid {
    border-bottom: 1px solid rgba(#464646, 0.2);
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 3.2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.single-news__inner {
    @include breakpointMF(small-tablet) {
        grid-column: 2 / -1;
    }
}

.single-news__layout {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-gap: 3.2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.single-news__layout-sidebar {
    @include breakpointMF(small-tablet) {
        grid-column: span 2;
    }
}
.single-news__layout-main {
    @include breakpointMF(small-tablet) {
        grid-column: span 9;
    }
}

.single-news__breadcrumbs {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: #c5c5c5;
    a {
        .no-touch &:not(.active):hover,
        .touch &:not(.active):active {
            color: var(--primary-color);
        }

        &.active {
            cursor: default;
            pointer-events: none;
        }
    }
}

.single-news__back-link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: var(--primary-color);
    margin-top: 1.3rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.single-news__main-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 6.8rem;
    line-height: 8.2rem;
    letter-spacing: 0.02em;
    margin-bottom: 3rem;
    max-width: 100rem;
    color: #464646;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.single-news__info {
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a1b3d5;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.single-news__preview-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.single-news__content {
    width: 100%;
    max-width: 94rem;
    color: #464646;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 0.02em;
    padding-top: 9rem;
    padding-bottom: 10rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
        font-size: 3rem;
        line-height: 1;
        letter-spacing: 0.02em;
        margin-top: 8rem;

        @include breakpoint(mobile) {
            font-size: 2rem;
            line-height: 1.2;
            margin-top: 4rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-top: 2rem;

        @include breakpoint(mobile) {
            margin-top: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    ul {
        margin-top: 2rem;
        @include breakpoint(mobile) {
            margin-top: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
        & > li {
            margin-top: 1.5rem;
            display: flex;
            align-items: flex-start;

            @include breakpoint(mobile) {
                margin-top: 1rem;
            }
            &::before {
                content: '';
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                flex-shrink: 0;
                margin-right: 1.5rem;
                margin-top: 1rem;
                background-color: var(--primary-color);

                @include breakpoint(mobile) {
                    width: 0.5rem;
                    height: 0.5rem;
                    margin-top: 1.2rem;
                    margin-right: 1rem;
                }
            }
            &:first-child {
                margin-top: 0;
            }
        }
    }

    img {
        width: auto;
        height: auto;
        display: block;
        margin: 7rem 0;


        @include breakpoint(mobile) {
            margin: 4rem 0;
        }
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    ol {
        margin-top: 2rem;

        @include breakpoint(mobile) {
            margin-top: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
        & > li {
            margin-top: 1.5rem;
            display: flex;
            align-items: flex-start;

            @include breakpoint(mobile) {
                margin-top: 1rem;
            }

            &::before {
                color: var(--primary-color);
                margin-right: 0.5rem;
                flex-shrink: 0;
                font-weight: 500;
                width: 2rem;
                flex-shrink: 0;

                @include breakpoint(mobile) {
                    width: 1.5rem;
                }
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

