.slider-arrows {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.slider-arrows__btn {
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 2rem;
    display: grid;
    place-items: center;
    border: 1px solid var(--primary-color);
    transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;

    @include breakpoint(mobile) {
        width: 5rem;
        height: 5rem;
    }
    


    &--filled {
        background-color: var(--bg-color);
    }
    svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--primary-color);
        transition: fill 0.2s, fill-opacity .2s;
    }
    &:last-child {
        margin-right: 0;
    }

    &.swiper-button-disabled {
        // opacity: 0.5;
        pointer-events: none;

        svg {
            fill-opacity: 0.5;
        }
    }

    &--pale {
        border-color: #F7D2BE;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        svg {
            fill: white;
        }
    }

   

    &--white {
        border-color: white;

        svg {
            fill: white;
        }

        .no-touch &:not(.swiper-button-disabled):hover,
        .touch &:not(.swiper-button-disabled):active {
            background-color: white;
            border-color: white;
            svg {
                fill: var(--primary-color);
            }
        }
    }
}
