.slider-arrows {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.slider-arrows__btn {
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 2rem;
    display: grid;
    place-items: center;
    border: 1px solid var(--primary-color);
    transition: background-color .2s, border-color .2s, opacity .2s;
    svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--primary-color);
        transition: fill .2s;
    }
    &:last-child {
        margin-right: 0;
    }


   

    &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        background-color: var(--primary-color);
        svg {
            fill: white;
        }
    }


    &--white {
        border-color: white;

        svg {
            fill: white;
        }

        .no-touch &:not(.swiper-button-disabled):hover,
        .touch &:not(.swiper-button-disabled):active {
            background-color: white;
            svg {
                fill: var(--primary-color);
            }
        }
    }
}
